#masthead #nav_main_menu ul li a span{
	font-size: 16px;
}
#masthead #nav_main_menu ul li.menu_the_festival{
	margin-right: 0px;
}
#masthead #nav_main_menu ul li.menu_the_challenge{
	margin-right: 0px;
}
#masthead #nav_main_menu ul li.menu_exhibitors > a{
	margin-left: 100px;
}

#social_media_icons{display: none;}
#social_icons_footer{display: block;}
/* social Icons footer */

#social_icons_footer {
	display: block;
	margin: 20px 0px;
}

	#social_icons_footer li {
		display: block;
	}

	#social_icons_footer a {
		display: inline-block;
	}
	#floating_callout{display: block;}
	
	.footer_block {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#footer_block_wpi{
		width: 50%;
		float: left;
		padding-left: 6px !important;
		text-align: left;
		margin-bottom: 10px;
	}
		#footer_block_wpi a{
			/*
			display: inline-block;
			vertical-align: middle;
			float: left;
			width: 59.2391304347826%;
			height: auto;
			*/
		}
		#footer_block_wpi .icon img{
			width: 100% !important;
			margin: 0;
		}
		#footer_block_wpi .text{
			width: 40.7608695652174%;
			text-align: center;
			font-size: 12px;
		}
/*		
	#footer_block_nasa{
		float: left;
		width: 33%;
		margin-top: 12px;
		margin-bottom: 10px;
		text-align: right;
	}
	.ie7 #footer_block_nasa{width: 33%;}
		#footer_block_nasa img{
			width: 80%;
			margin-bottom: 0px;
		}
		#footer_block_nasa:after{display: none;}
*/	
	#footer_block_usa_festival{
		display: none;
	}
	
	#footer_block_wgbh {
		width: 50%;
	}

	#copyright_line{
		width: 60%;
		float: left;
	}
/*	
	#mobile-block-usa-festival{
		width: 40%;
		float: left;
		display: block;
		text-align: right;
		padding-top: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		#mobile-block-usa-festival img{
			width: 50%;
		}
*/
		
/* Homepage Call-to-Action Button */
a#preview-button,
a#preview-button span {
	-moz-border-radius: 0;
	border-radius: 0;
}

/* "Padding" bc it's IE7 :P */
.ie7 #home_video_player_wrap{
	border-left: 40px solid #00aeef;
}
.ie7 #home_content{
	border-top: 23px solid #00aeef;
}

#floating_callout{
	right: 100px;
	top: 30px;
	left: auto !important;
	width: auto;
}
#main.main-interior #floating_callout{
	top: 30px;
	right: 100px;
	left: auto !important;
}