/*
WPI Custom Eggplant
Version: 1.0
*/

body,
.color { background: #2b1637; }

h1 { color: #ac2b37; }
h3.title { color: #000000; }
a { color: #0066ff; text-decoration: underline; }

.site-description { color: #bebac0;  }
#menu { background: #2b1637; }
.menuDiv { background: url('images/nav-bg-eggplant.png'); }
.menuDivide { background: url('images/menu-bottomline-eggplant.png'); }

.slides > li h3 { background-color: #2b1637; }
.slides > li .excerpt { background: #999999; }

#tab { background-image: url('images/box-green.png'); }

.dropdown a:hover,
.dropdown li:hover,
.dropdown li:hover a,
a.btn_menu:hover { background: #6c8914; }

body.home h3.title,
.entry h1 { color: #ac2b37; }

button, input[type="button"], input[type="reset"], input[type="submit"],
.post .readmore a { background: #6c8914; }
input:focus, textarea:focus { color: #000000; }
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
.post .readmore a:hover { background: #ac2b37; }

.leftNav a { color: #000000; }
.leftNav li li li li { color: #6c06a1; }

#sidebar .menu ul li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
    color: #6c8914;
}