/*
WPI Custom Black
Version: 1.0
*/

body,
.color { background: #000; }

h1 { color: #6c06a1; }
h3.title { color: #000; }
a { color: #ac2b37; text-decoration: underline; }

.site-description { color: #969696;  }
#menu { background: #000; }
.menuDiv { background: url('images/nav-bg-black.png'); }
.menuDivide { background: url('images/menu-bottomline-black.png'); }

.slides > li h3 { background-color: #000; }
.slides > li .excerpt { background: #999; }

#tab { background-image: url('images/box-blue.png'); }

.dropdown a:hover,
.dropdown li:hover,
.dropdown li:hover a,
a.btn_menu:hover { background: #03478b; }

body.home h3.title,
.entry h1 { color: #ac2b37; }

button, input[type="button"], input[type="reset"], input[type="submit"],
.post .readmore a { background: #03478b; }
input:focus, textarea:focus { color: #000; }
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
.post .readmore a:hover { background: #ac2b37; }

#sidebar .menu ul li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
    color: #ac2b37;
}
