/*
Theme name: Venture Child
Version: 1.0
Template: venture
*/

@import url("../venture/style.css");


/* main default color is #0c1f3d */

p { font-family: myriad pro; font-size: 11pt; line-height: 1.6; }

h1 { font-size: 26pt; font-family: myriad pro; }
h3 { font-size: 13pt; }

/* header */
#logo h1, #logo h1 a { font-size: 35px; font-weight: normal; }
#content-wrap { border: none; width: 970px; }
#content-wrap:before { background: none; }
.site-description { padding: 15px 0 0 50px; font-family: myriad pro;  }
.site-title { font-size: 35px; font-weight: normal; }
#logo { width: 100%; padding-bottom: 25px; }
#logo img { float: right; margin-top: 20px; }
.divide { margin-left: -50px; height: 7px; }
.divide img { margin: -20px 0 1px 0; }
.menuDivide { margin: -9px 0 0 -50px; }

/* nav */
#mainmenu { text-align: center; }
.menuDiv { width: 1100; height: 47px; }
#menu { float: none; text-align: center; width: 100%; height: 70px; }
.dropdown a { color: #ffffff; text-transform: uppercase; font-family: myriad pro; border: none; border-radius: 0; }
.dropdown { line-height: 2.1; }
.dropdown li { display: inline-block; float: none; margin-right: 30px; }
.dropdown ul { border-radius: 0px; width:  }
#heading, #footer .wrap { background: none !important; }

/* remove all menu hover styles */
li.current-menu-item a:after, li.current_page_item a:after, li.current-menu-ancestor a:after, li.current-menu-parent a:after, li.current_page_parent a:after { border: none; }
li.current-menu-item a, li.current_page_item a, li.current-menu-ancestor a, li.current-menu-parent a, li.current_page_parent a  { background: none; }
div.navigation a:hover {  background: none; }
div.navigation .prev:hover, div.navigation .prev:active, div.navigation .next:hover, div.navigation .next:active { background: none; }
.dropdown > li > a:hover:after { border: none; }

.dropdown > li > a:hover { margin-top: 0px; }
.dropdown > li:hover { margin-top: 0px; }
.dropdown > li:hover > a { margin-top: 0px; }
.dropdown li:hover ul, .dropdown li.sfHover ul { top: 40px; }

/* page templates */
#main { margin: 5px 0 0 0; }
#slider { margin-bottom: 20px; }
.titleBox { float: left; }
.greenBox { width: 30px; height: 30px; position: absolute; left: -10px; top: 40px; }
.orangeBar { height: 6px; width: 100%; margin-bottom: 3px; }
.whiteBar { height: 5px; width: 100%; }
.greyBar { height: 17px; width: 100%; }
#sidebar { margin-top: 20px; }

.leftNav { position: absolute; background: url('images/dots.gif') repeat-y 315px top; z-index: 9;}
.leftNav ul { list-style: none; }
.leftNav a { font-family: myriad pro; }
.leftNav .searchBox { float: left; }
.leftNav ul li { margin-top: 10px; }
.leftNav li li li li { list-style-type: disc; width: 250px; }
.menu-sub-nav-links-container { margin: 60px 0; }
.transImg { float: left; width: 340px; margin: 0 0 40px 0; }
.post_content_left { float: left; padding-right: 30px; position: relative; width: 100%; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { font-weight: normal; line-height: 1.3; margin-bottom: 20px; font-size: 22pt; }
.sub-menu { width: 300px; padding-left: 20px; }
#content { background: none; } 
.widget { margin-bottom: 20px; }

/* search box styling */
.searchBox, .widget_search { float: right; padding: 10px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { padding: 5px 9px; border-radius: 0px; height: 26px; margin-left: 10px; }
input, textarea { padding: 5px 9px; }
.searchBox #s, .widget_search #s { width: 200px; }
#homewidgets #homewidgets-rightmain { background: none; }

.copyright { text-align: center; }
.copyright p { font-size: 10pt; }
#footer .wrap { margin-top: 0px; padding: 5px 0 30px 0; }
#footer .left { float: none; }

/* make top menu sticky */
.fix { position: fixed !important; top:0; left:0; right:0; margin:0; z-index: 9999 !important; }

/* Small Displays */
@media screen and (max-width: 1040px) {

       #logo img { max-width: 152px; height: auto; margin: 30px 2% 0 0; }
       #logo { margin: 0; padding-bottom: 20px; }
       .btn_menu { top: 5px; }
       #logo h1, #logo h1 a { width: 60%; padding-left: 10px; }
       .site-description { width: 50%; margin-top: 40px; }
       
       .titleBox { margin: 0 0 0 10px; }
       .greenBox { top: 25px; }
       #content-wrap { width: 96%; }
       
       /* small menu */
       #menu { width: 90%; margin: 0 auto; }
       .divide, .menuDivide { display: none; }
       .menuDiv { background: none; height: auto; }
       .dropdown li { display: block; }
       
}