
$wrap-width:        800px;
$footer-height:     60px;

$brand-red: 		rgba(172,43,55,1.0); 	// #ac2b37

$accent-red: 		rgba(196,18,47,1.0); 	// #c4122f
$accent-light-blue: rgba(98,202,226,1.0); 	// #62cae2
$accent-purple: 	rgba(145,38,143,1.0); 	// #91268f
$accent-yellow: 	rgba(240,202,0,1.0); 	// #f0ca00
$accent-orange: 	rgba(248,157,49,1.0); 	// #f89d31
$accent-green: 		rgba(175,188,33,1.0); 	// #afbc21
$accent-blue: 		rgba(0,129,198,1.0); 	// #0081c6
$accent-dark-blue: 	rgba(51,41,133,1.0); 	// #332985
$accent-brand-red: 	$brand-red; 			// #ac2b37

$util-success: 		rgba(110,225,136,1.0); 	// #6ee188
$util-warning: 		rgba(255,194,89,1.0); 	// #ffc259
$util-error: 		rgba(255,61,0,1.0); 	// #ff3d00

$gray-01: 			rgba(255,255,255,1.0); 	// #ffffff
$gray-02: 			rgba(231,231,231,1.0); 	// #e7e7e7
$gray-03: 			rgba(205,205,205,1.0); 	// #cdcdcd
$gray-04: 			rgba(174,174,174,1.0); 	// #aeaeae
$gray-05: 			rgba(149,149,150,1.0); 	// #959596
$gray-06: 			rgba(118,118,119,1.0); 	// #767677
$gray-07: 			rgba(92,92,92,1.0); 	// #5c5c5c
$gray-08: 			rgba(63,63,64,1.0); 	// #3f3f40
$gray-09: 			rgba(25,25,26,1.0); 	// #19191a

$facebook: 			rgba(59,89,152,1.0); 	// #3b5998
$twitter: 			rgba(29,161,242,1.0); 	// #1da1f2

$color-black: 		#000000;
$color-white: 		$gray-01;

$color-link: 		$color-black;
$color-default: 	$color-black;

$myriad-pro: 		'myriad-pro', sans-serif;
$minion-pro: 		'minion-pro', sans-serif;
$regular-font:      $minion-pro;

$font-family: 		$regular-font;
$font-size:         18px;
$line-height:       30px;

$transition: 		all 300ms ease;