
#dept-order {
    min-height: 200px;
    padding: 0;
    margin: 0;
}

.wp-block {
    // background: orange;
    max-width: 876px;
    &[data-type="acf/two-col-image-text"] {
        height: auto !important;
        padding: 0 15px !important;
        > .block-editor-block-list__block-edit {
            float: none !important;
            margin: 0 !important;
        }
    }
}
.post-item {
    figure {
        padding: 0;
        margin: 0;
    }
    &.image-text {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        &.right {
            .image {
                order: 2;
                margin: 0 0 0 30px;
            }
            .text {
                order: 1;
            }
        }
        .image {
            margin: 0 30px 0 0;
        }
        .text {
            width: 100%;
            flex: 1;
        }
        .image-bottom {
            order: 9;
            width: 100%;
            max-width: none;
            justify-content: center;
            margin: 0 auto;
        }
    }
}