
@import 'utilities/index';

body, html {
	font-family: $font-family;
}

li, p {
    font-size: $font-size;
    line-height: 160%;
    letter-spacing: 0.02em;
    margin: 0 0 rem(22px);
    &.large {
        font-size: rem(22px);
    }
    &.small {
        font-size: rem(14px);
    }
    &.xtra-small {
        font-size: rem(13px);
    }
}