h1, h2, h3, h4, h5, h6, h2 a,
#the-content a,
#the-content a:link,
#the-content a:visited,
#the-content a:active,
#the-content h2 {
  color: #ac2b37;
}

#body-wrap,
.home #body-wrap {
  background-color: #467c4a;
}

#header-wrap {
  background: #103713;
}

#mobile-menu .current-menu-item a,
#mobile-menu .current_page_item a,
#mobile-menu .children li.current-menu-item a,
#mobile-menu .children li.current_page_item a,
header li.current-menu-item a,
header li.current_page_item a,
input[type=submit],
button,
#the-content a.button.betc,
.single-project_portfolio .hero h1 a {
  background: #849f32;
}

header li a:hover,
#mobile-menu a:hover,
.children .page_item a:hover,
#mobile-menu .children .page_item a:hover,
input[type=submit]:hover,
button:hover,
#the-content a.button.betc:hover,
.single-project_portfolio .hero h1 a:hover {
  background: #7f99b2;
}

header li.current-menu-item:after,
header li.current_page_item:after {
  border-top-color: #849f32;
}

#the-content:before {
  background-color: #7f99b2;
}

blockquote {
  color: #467c4a;
}

.children .page_item:last-child {
  border-bottom: 6px solid #7f99b2;
}
