/*/*
Theme Name: WPI Labs
Theme URI: http://www.wpi.edu/
Author: WPI
Author URI: http://www.wpi.edu/
Template: wpi_parent
Description: WPI Lab Theme
Version: 1.0
Text Domain: wpi-parent
*/

::selection {
  background: #444;
  color: #fff;
}

::-moz-selection {
  background: #444;
  color: #fff;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Reset
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
header,
footer,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: myriad-pro, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 30px;
  line-height: 1.4em;
  margin: 0.2em 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

abbr[title] {
  border-bottom: 1px solid;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
select,
textarea {
  width: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  color: #5E5E5E;
  border-collapse: separate;
  border-spacing: 5px;
  margin: 25px 0;
  width: 100%;
}

table th,
table td {
  /*border-bottom: 1px solid #DDDDDD;*/
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

table th {
  background: #D7DDDF;
  font-weight: 600;
}

table tr:nth-child(odd) td {
  background-color: #EFF1F1;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Core / Helpers
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.clear,
header {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img.center {
  display: block;
  margin: auto;
}

hr {
  clear: both;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 40px;
  margin-bottom: 40px;
}

blockquote {
  padding: 15px;
  position: relative;
  color: #444;
  max-width: 100%;
  width: 100%;
}

blockquote p:first-child {
  display: inline-block;
}

.ie8 blockquote p:first-child {
  display: block;
}

.ie8 blockquote {
  border: 1px solid #ddd;
  padding: 10px;
}

.align-right {
  text-align: right
}

.half {
  width: 45%;
  margin: 0 20px 20px 0;
  float: left;
}


/* =WordPress Core Alignment Tweaks
-------------------------------------------------------------- */

.alignnone {
  margin: 10px 20px 5px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 10px auto 5px auto;
}

.alignright,
.alignleft,
.alignnone,
.aligncenter,
#the-content img[align=right],
#the-content img[align=left] {
  background: #eeeeee;
  padding: 8px;
  border: 1px solid #dddddd;
}
#the-content img[align=right],
.alignright {
  float: right;
  margin: 10px 0 5px 10px;
}

#the-content img[align=left],
.alignleft {
  float: left;
  margin: 10px 10px 5px 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.alignnone,
a img.alignnone {
  margin-top: 0;
}

.alignright {
  margin-left: 10px;
}

.aligncenter {
  margin: 0 auto 20px;
}

.wp-caption {
  border: 0;
  text-align: left;
}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Responsive Grid
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

section,
header,
footer,
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding: 0 15px;
}

.c1 img,
.c2 img,
.c3 img,
.c4 img,
.c5 img,
.c6 img,
.c7 img,
.c8 img,
.c9 img,
.c10 img,
.c11 img,
.c12 img {
  max-width: 100%;
  height: auto;
}

section,
header,
footer {
  width: 1040px;
  clear: both;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

section.padless .c1,
header.padless .c1,
footer.padless .c1,
section.padless .c2,
header.padless .c2,
footer.padless .c2,
section.padless .c3,
header.padless .c3,
footer.padless .c3,
section.padless .c4,
header.padless .c4,
footer.padless .c4,
section.padless .c5,
header.padless .c5,
footer.padless .c5,
section.padless .c6,
header.padless .c6,
footer.padless .c6,
section.padless .c7,
header.padless .c7,
footer.padless .c7,
section.padless .c8,
header.padless .c8,
footer.padless .c8,
section.padless .c9,
header.padless .c9,
footer.padless .c9,
section.padless .c10,
header.padless .c10,
footer.padless .c10,
section.padless .c11,
header.padless .c11,
footer.padless .c11,
section.padless .c12,
header.padless .c12,
footer.padless .c12 {
  padding: 0;
}

section.marginless,
header.marginless,
footer.marginless {
  margin: 0;
}

section:after,
header:after,
footer:after {
  content: " ";
  display: block;
  clear: both;
}

.c2 {
  width: 16.66667%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 33.33333%;
}

.c5 {
  width: 41.66667%;
}

.c6 {
  width: 50%;
}

.c7 {
  width: 58.33333%;
}

.c8 {
  width: 66.66667%;
}

.c9 {
  width: 75%;
}

.c10 {
  width: 83.33333%;
}

.c11 {
  width: 91.66667%;
}

.c12 {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  section,
  header,
  footer {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 800px) {
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11 {
    width: 50%;
  }
  .portfolio-thumb-wrap:nth-of-type(2n + 1) {
    clear: left;
  }
}

@media screen and (max-width: 600px) {
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
    margin-bottom: 30px;
  }
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Headers
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

header {
  min-height: 130px;
  padding-top: 24px;
  margin-bottom: -3px;
}

header .logo,
header .icons,
header nav {
  display: inline-block;
}

header .logo {
  /*height: 78px; BB 02/16/16 */
  min-height: 62px;
}

header .icons {
  float: right;
  text-align: right;
  margin-bottom: 20px;
  padding-right: 17px;
}

header .icons .icons {
  height: 66px;
}

header .icons a {
  margin-right: 40px;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

header .icons img {
  max-width: 100%;
}

header .icons a:last-child {
  margin-right: 0;
}

header .icons ul {
  margin: 0;
}

header nav {
  float: right;
  position: relative;
  /*bottom: 8px; BB 02/16/16*/
}

header li {
  list-style: none;
  float: left;
  position: relative;
}

header li a {
  -webkit-transition: background 0.15s ease, color 0.15s ease;
  -moz-transition: background 0.15s ease, color 0.15s ease;
  transition: background 0.15s ease, color 0.15s ease;
  /*color: black;*/
  font-size: 13px;
  padding: 15px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-family: myriad-pro, sans-serif;
  font-weight: normal;
}

header li a:hover {
  color: white;
}

header li a:after {
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  content: " ";
  display: block;
  position: absolute;
  background: none;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  opacity: 0;
}

header li a:hover:after {
  opacity: 1;
}

.ie8 header li a:after {
  display: none !important;
}

header li.current-menu-item:after,
header li.current_page_item:after {
  opacity: 1;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 9px;
  margin-left: -9px;
  z-index: 1;
}

header .children li.current-menu-item:after,
header .children li.current_page_item:after {
  display: none;
}
header li.current_page_item .children a,
header li.current-menu-item .sub-menu a {
  background: rgba(0, 0, 0, 0.85);
}

header .children,
header .sub-menu {
  position: absolute;
  right: 0;
  display: none;
  float: none;
  z-index: 1000;
}

.children .page_item,
.sub-menu .menu-item {
  float: none;
  width: 235px;
  background: rgba(0, 0, 0, 0.85);
}

.children .children,
.sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

.children .page_item a,
.sub-menu .menu-item a {
  line-height: 1.4em;
  width: 100%;
  color: #dddddd;
}

.children .page_item a:hover,
.sub-menu .menu-item a:hover {
  color: #ffffff;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Blog
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.post-meta {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #777;
}

.post-meta span {
  margin-right: 10px;
}

.post-meta img {
  vertical-align: middle;
}


/*
 * Fix mobile menu on multiple browsers:
 * http://freshinbox.com/blog/android-css-general-sibling-selector-bug/
 */

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

body {
  position: relative;
  color: #666666;
  /* Added BB 01/16/16 */
}

#body-wrap {
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  transition: left 0.25s ease;
  left: 0;
  position: relative;
  z-index: 3;
}

.home #body-wrap {
  background: url(img/home-bg.png) center 130px repeat-x;
}

.menu-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  width: 40px;
  height: 30px;
  margin-top: 90px;
  margin-right: 16px;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
  right: 0;
  float: right;
  text-indent: -9999px;
  -webkit-transition: right, 0.35s, ease;
  -moz-transition: right, 0.35s, ease;
  transition: right, 0.35s, ease;
}

.menu-button:before {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 25px;
  height: 5px;
  background: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  behavior: url(js/pie/PIE.htc);
  border-collapse: separate;
  border-radius: 25%;
}

label.menu-button {
  -webkit-transition: right 0.25s ease;
  -moz-transition: right 0.25s ease;
  transition: right 0.25s ease;
  right: 0;
  position: absolute;
}

#menu-button,
#mobile-menu {
  display: none;
}

#menu-button:checked ~ #mobile-menu {
  display: block;
  background: #666666;
}

#menu-button:checked ~ #body-wrap {
  box-shadow: 0 0 4px #000;
  behavior: url(js/pie/PIE.htc);
  border-collapse: separate;
}

@media screen and (max-width: 960px) {
  #menu-button:checked ~ #body-wrap {
    left: -260px;
  }
}

#menu-button:checked + section label,
#menu-button:checked + header label,
#menu-button:checked + footer label {
  right: 260px;
}

#mobile-menu {
  position: fixed;
  /*text-align: center;*/
  top: 0;
  right: 0;
  width: 260px;
  height: 100%;
  z-index: 1;
  text-transform: uppercase;
}

#mobile-menu ul {
  margin: 0;
  padding: 0;
}

#mobile-menu .sub-menu a {
  padding-left: 40px;
}

#mobile-menu .sub-menu a:before {
  content: '- ';
}

#mobile-menu li {
  list-style: none;
  margin: 0;
}

#mobile-menu a {
  display: inline-block;
  padding: 15px;
  width: 100%;
  background: #444;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
  transition: background 0.15s ease;
}

#mobile-menu a:hover {
  background: #555;
  text-decoration: none;
}

#mobile-menu .logo {
  text-align: center;
  background: #fff;
}

#mobile-menu .logo img {
  width: 200px;
}

#mobile-menu .children .page_item {
  width: 100%;
  height: 100%;
}

#mobile-menu .children .page_item a {
  background: #000000;
  height: 100%;
  padding-left: 30px;
}

#mobile-menu .children .page_item:last-child {
  border-bottom: none;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Slideshow
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.front-page.cycle-slideshow,
.hero {
  height: 585px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.front-page.cycle-slideshow > div {
  position: absolute;
  width: 100%;
  height: 585px;
}

.front-page.cycle-slideshow > div.has-link {
  cursor: pointer;
}

.front-page.cycle-slideshow > div > img {
  position: absolute;
  width: 100%;
  min-width: 1200px;
  min-height: 585px;
  height: auto;
  margin-top: -10%;
}

.front-page.cycle-slideshow section,
.front-page.cycle-slideshow header,
.front-page.cycle-slideshow footer {
  height: 100%;
}

.front-page.cycle-slideshow .content-wrap {
  position: absolute;
  bottom: 115px;
  margin-right: 30px;
}

.front-page.cycle-slideshow h1 {
  position: relative;
  display: inline-block;
  padding: 18px;
  margin: 0;
  margin-bottom: 3px;
  word-wrap: normal;
  word-break: normal;
}

.front-page.cycle-slideshow h1 span {
  position: relative;
  z-index: 10;
  word-wrap: normal;
  word-break: normal;
}

.front-page.cycle-slideshow h1:before {
  content: " ";
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.front-page.cycle-slideshow .content {
  position: relative;
  padding: 18px;
  margin: 0;
  margin-bottom: 3px;
  color: #fff;
  max-width: 546px;
  font-size: 17px;
  line-height: 24px;
}

.front-page.cycle-slideshow .content:before {
  content: " ";
  z-index: 1;
  position: absolute;
  display: block;
  background: #363636;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.front-page.cycle-slideshow .content p {
  margin: 0;
  position: relative;
  z-index: 2;
}

.cycle-slideshow.video_carousel {
  width: 100%;
}

.wpi_video_gallery {
  padding-top: 20px;
}

.video_gallery_wrap {
  background: #ffffff;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Home Callouts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.home .callout.say .content p {
  margin: 0;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Hero
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.hero {
  background: #D5DBDD;
  /* Changed from #eef2f2 BB 02/15/16 */
  height: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 100%;
}

.home .hero {
  background: transparent;
}

.hero header {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
}

.hero header h1 {
  margin: 0;
}

.hero.imaged {
  position: relative;
  height: 585px;
}

.hero.imaged header {
  position: relative;
  height: 585px;
}

.hero.imaged h1 {
  position: absolute;
  bottom: 115px;
  padding: 20px;
  color: #fff;
  z-index: 200;
}

.hero.imaged h1 span {
  position: relative;
  z-index: 200;
}

.hero.imaged h1:before {
  content: ' ';
  opacity: 0.7;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: #333;
}

img,
iframe {
  max-width: 100%;
}

a {
  color: #ac2b37;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#the-content {
  position: relative;
  z-index: 200;
  margin-top: -79px;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  behavior: url(js/pie/PIE.htc);
  border-collapse: separate;
  padding: 30px;
  font-size: 15px;
  line-height: 23px;
  border-top-color: #ACA3A4;
}

#the-content:before {
  content: " ";
  position: absolute;
  top: -7px;
  left: 0;
  height: 7px;
  width: 200px;
}

#the-content h2 {
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 10px 0;
}

#the-content p {
  margin: 0 0 20px 0;
}

#the-content article.main {
  padding-left: 0;
  padding-right: 20px;
  z-index: 10;
  position: relative;
}

#the-content article.main.c12 {
  padding-right: 0;
}

#the-content article.main > h1:first-child,
#the-content article.main > h2:first-child,
#the-content article.main > h3:first-child,
#the-content article.main > p:first-child,
#the-content article.main > div:first-child {
  margin-top: 0;
}

#the-content aside.main {
  font-size: 14px;
  line-height: 20px;
  z-index: 20;
  position: relative;
  border-left: 1px solid #aaa;
  /*padding-left: 37px;*/
  padding-right: 0px;
}

#the-content aside.main h1 {
  font-size: 22px;
}

#the-content aside.main p:first-child {
  margin-top: 0;
}

#the-content aside .widget {
  margin-bottom: 40px;
  border-bottom: 1px solid #aaa;
}

#the-content aside.main > ul {
  /*margin-left: 0;*/
}

#the-content .widget {
  clear: both;
}

#the-content .event-block {
  margin-bottom: 15px;
}

#the-content .event-block h2 {
  margin-bottom: 0;
}


- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Home
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.home #the-content article.main {
  padding-left: 0;
  padding-right: 37px;
  z-index: 10;
  position: relative;
}

.home #the-content aside.main {
  font-size: 15px;
  line-height: 23px;
  z-index: 20;
  position: relative;
  border-left: 1px solid #aaa;
  padding-left: 37px;
}

.home #the-content aside.main {
  padding-right: 0;
}

.home #content {
  /*border-bottom: 1px solid #aaa;*/
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.home #the-content {
  color: #666666;
}

.home #the-content .callout.centers {
  padding-bottom: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #aaa;
}

.home #the-content .callout.say {
  padding-left: 0;
  font-size: 14px;
  line-height: 20px;
}

.home #the-content .callout.say .wrap {
  padding: 28px;
}

.home #the-content .meta {
  display: block;
}

.home #the-content .meta p {
  margin: 0;
}

.home #the-content .meta .name {
  font-weight: bold;
}

.home #the-content .meta .company {
  /*margin-top: 24px;*/
  font-size: 14px;
  font-weight: bold;
}

.home #the-content .person {
  padding-left: 0;
}

.home #the-content .photo {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.home #the-content .content {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #aaa;
  color: #333;
}

body.home #the-content aside {
  box-shadow: none;
  behavior: url(js/pie/PIE.htc);
  border-collapse: separate;
  border-top: none;
}

.home .intro {
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}

.home .intro h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
}

.home .intro + article {
  padding-bottom: 20px;
}


/*.home #the-content.no-padding #content{
  padding-bottom: 10px !important;
  margin-bottom: 0 !important;
}*/

#the-content ul {
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 20px;
}

.blog #the-content aside>ul {
  margin-left: 0;
}

#the-content ul li,
#the-content ol li {
  margin-bottom: 10px;
  padding-left: 20px;
}

#the-content ul .widget {
  list-style: none;
}

#the-content ol {
  list-style: decimal;
  margin-left: 40px;
}

i,
em {
  font-style: italic;
}

h4 {
  font-weight: bold;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Home Sidebar
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#sidebar_home {}

#sidebar_home .widget,
#the-content aside#sidebar_home .widget {
  width: 50%;
  float: left;
  clear: none;
  border-bottom: none;
  padding: 0px 3%;
  margin-bottom: 20px;
}

#sidebar_home .widget:after,
#the-content aside#sidebar_home .widget:after {
  display: none;
  clear: none;
  content: "";
  height: auto;
}

#sidebar_home .widget:nth-child(odd),
#the-content aside#sidebar_home .widget:nth-child(odd),
#sidebar_home .widget.odd {
  /* IE8 */
  clear: both;
}

#sidebar_homefooter {}

#sidebar_homefooter .widget:after,
#the-content aside#sidebar_homefooter .widget:after {
  display: none;
  clear: none;
  content: "";
  height: auto;
}

#sidebar_homefooter .widget:last-child,
#the-content aside#sidebar_homefooter .widget:last-child {
  border-bottom: none;
  margin-bottom: 0 !important;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.footer-wrap {
  background: #edf1f2;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  margin-top: 30px;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.footer-wrap p {
  margin: 0;
}

.footer-wrap footer {
  min-height: 75px;
}

.footer-wrap .wrap {
  float: right;
  text-align: right;
}

#footer-callout {
  font-size: 13px;
  color: #ffffff;
  line-height: 21px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#footer-callout p {
  margin-bottom: 10px;
}

#footer-callout img {
  margin-right: 30px;
}

.footer-social img {
  padding: 7px;
}

a.footer-social:hover {
  text-decoration: none;
}

.footer-social:first-child img {
  padding-left: 0;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Project Portfolio
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.page-template-templatesprojects-php #the-content {
  padding-top: 20px;
}

#project-categories {
  border: 1px solid #aaa;
  border-top: none;
  border-left: none;
  text-align: right;
  margin-bottom: 30px;
  margin-top: 0;
}

#project-categories li {
  display: inline-block;
  border: 1px solid #aaa;
  border-right: none;
  border-bottom: none;
}

#project-categories li a {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  transition: color 0.25s ease;
  display: inline-block;
  padding: 8px 12px;
  color: #666;
}

.project-category-title {
  padding: 0 15px;
}

div.portfolio-thumb-wrap {
  display: inline-block;
  margin-bottom: 30px;
}

.portfolio-thumb-wrap:nth-of-type(4n + 1) {
  clear: left;
}

.portfolio-thumb {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  behavior: url(js/pie/PIE.htc);
  border-collapse: separate;
  background: #fff;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  color: #aaa;
}

.portfolio-thumb strong {
  color: #666;
}

.portfolio-thumb header {
  -webkit-transition: border-color 0.25s ease;
  -moz-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
  width: auto;
  height: 135px;
  min-height: inherit;
  padding: 0;
  border-bottom: 5px solid #d1d1d1;
  overflow: hidden;
}

.portfolio-thumb header img {
  width: auto;
  height: 130px;
  max-width: inherit;
}

.portfolio-thumb article {
  text-align: center;
  padding: 10px;
  min-height: 43px;
}

.portfolio-thumb article p {
  margin: 0 !important;
}

h3 {
  /*text-transform: uppercase; BB 02/16/16 */
  /*border-bottom: 1px solid #aaa; BB 02/16/16 */
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  /* Added BB 02/16/16 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

#portfolio-sidebar {
  padding: 0 !important;
}

#portfolio-sidebar p.service {
  margin: 0;
}

#portfolio-sidebar > div {
  padding: 20px;
  padding-top: 10px;
}

#portfolio-sidebar h2 {
  border-bottom: 1px solid #aaa;
  color: #666;
  margin-top: 0;
  font-size: 17px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-weight: bold;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Gallery
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.project.cycle-slideshow-wrap {
  position: relative;
  margin-bottom: 20px;
}

.project.cycle-slideshow img {
  width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  behavior: url(js/pie/PIE.htc);
  border-collapse: separate;
}

.project.cycle-slideshow-wrap .pager {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.project.cycle-slideshow-wrap .pager > div {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  margin-left: 2px;
  background: #000;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
  float: right;
}

.project.cycle-slideshow-wrap .pager > div:hover {
  opacity: 1;
}

.single-project_portfolio #content aside.main {
  padding: 0;
}

.galleria div.galleria-container {
  background-color: #ffffff;
}

.galleria-info-text {
  background-color: #ffffff;
}

.galleria-image-nav {
  margin-top: -31px;
}

.galleria-image-nav-left,
.galleria-image-nav-right {
  background-color: #ffffff;
  background-position: 0;
  background-size: 16px;
  border-radius: 50%;
  opacity: 1;
  height: 62px;
}

.galleria-image-nav-left {
  background-image: url('img/arrow-left.png');
  background-position: 30px;
  left: -31px !important;
}

.galleria-image-nav-right {
  background-image: url('img/arrow-right.png');
  background-position: 15px;
  right: -31px !important;
}

.galleria-thumbnails-container,
.galleria-counter,
.galleria-info {
  display: none !important;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Superfish
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu li {
  position: relative;
}

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-menu > li {
  float: left;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu ul ul {
  top: 0;
  left: 100%;
}


/*** DEMO SKIN ***/

.sf-menu {
  float: left;
  margin-bottom: 1em;
}

.sf-menu ul {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
  min-width: 12em;
  /* allow long menu items to determine submenu width */
  *width: 12em;
  /* no auto sub width for IE7, see white-space comment below */
}

.sf-menu a {
  display: block;
  position: relative;
  border-left: 1px solid #fff;
  border-top: 1px solid #dFeEFF;
  /* fallback colour must use full shorthand */
  border-top: 1px solid rgba(255, 255, 255, .5);
  padding: .75em 1em;
  text-decoration: none;
  zoom: 1;
  /* IE7 */
}

.sf-menu a {
  color: #13a;
}

.sf-menu li {
  background: #BDD2FF;
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background .2s;
  transition: background .2s;
}

.sf-menu ul li {
  background: #AABDE6;
}

.sf-menu ul ul li {
  background: #9AAEDB;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
  background: #CFDEFF;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}

header ul {
  position: relative;
}

header a:hover {
  text-decoration: none;
}

header .sub-menu {
  position: absolute;
  display: none;
  float: none;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

header .sub-menu li {
  display: block;
  float: none;
  margin-top: 0;
  list-style: none;
  width: 100%;
}

header .sub-menu li a {
  display: inline-block;
  width: 100%;
  font-weight: normal;
}

header .sub-menu li a:after {
  display: none;
}

header .sub-menu li,
header .sub-menu li a {
  background-color: rgba(46, 83, 153, 0.3);
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Widgets
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.widget:after {
  content: " ";
  display: block;
  clear: both;
  height: 30px;
}

#the-content aside .widget:last-child {
  border-bottom: none;
}

aside blockquote {
  padding: 28px;
  margin-bottom: 20px;
}

#the-content blockquote.testimonial {
  margin-bottom: 20px;
}

aside ul li,
aside ol li {
  margin-left: -20px;
}

body.page aside blockquote {
  padding: 1px 23px 10px;
  /* Changed from 5px 28px 28px BB 02/16/16*/
}

body.page aside blockquote img,
body.home blockquote img {
  margin-top: 0px;
  /* Changed from 5px BB 02/16/16 */
}

aside blockquote .meta img,
.home .meta img {
  margin-bottom: 10px;
}

.testimonial .info {
  color: #000000;
}

.home #the-content img.photo {
  vertical-align: baseline;
}

#the-content aside h2:first-child,
#the-content aside h1:first-child {
  margin-top: 0;
}

.front-page.cycle-slideshow h1:before,
blockquote,
.home #the-content .callout.say .wrap {
  background-color: #D7DDDF;
}

header li a {
  color: #fff;
}

input[type=submit],
button,
#the-content a.button.betc,
.single-project_portfolio .hero h1 a {
  color: #ffffff;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Editor Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.inline-callout {
  border: 1px solid #868f96;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Single Portfolio
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.single-project_portfolio .hero h1 a {
  float: right;
  color: #fff;
  padding: 0px 12px;
  margin-left: 20px;
  position: relative;
  z-index: 100;
}

.single-project_portfolio .hero.imaged h1 {
  width: 100%;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Parade
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

div.logo_parade img {
  visibility: visible;
}

.logo-parade-wrap {
  position: relative;
}

.logo_parade {
  position: relative;
  z-index: 5;
}

.logo-parade-wrap .pagers {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 48px;
  z-index: 10;
  width: 100%;
}

.logo-parade-wrap .pagers a {
  position: absolute;
  font-weight: 100 !important;
  text-decoration: none !important;
  color: #aaa;
}

.logo-parade-wrap .pagers .next {
  right: -30px;
}

.logo-parade-wrap .pagers .prev {
  left: -30px;
}

.logo_parade_slide {
  width: auto !important;
  margin-right: 50px;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Fixes
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

table td img {
  max-width: none !important;
}

.logo_parade_slide {
  text-align: center;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Testimonials
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

blockquote.testimonial .meta {
  float: left;
  /*border-right: 1px solid #aaa;*/
  /*padding-right: 20px;*/
  /*margin-right: 20px;*/
}

blockquote.testimonial .meta img {
  float: left;
}

blockquote.testimonial .info {
  float: left;
}

blockquote.testimonial .clear.first {
  display: none;
}

.home #the-content blockquote.testimonial p {
  float: right;
  margin-left: 120px;
  margin-top: -80px;
  margin-bottom: 0;
}


/* WPI Additionals */

p.box {
  display: block;
  padding: 15px;
  background-color: #aaa;
  color: #fff;
}

.collapseomatic_content {
  margin-bottom: 30px;
}

a.button.betc {
  display: block;
  width: 220px;
  height: 53px;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  padding: 13px 0 0;
  margin-bottom: 20px;
}

a.button.betc.questions {
  padding-left: 72px;
}

a.button.betc.register {
  text-align: center;
}


/*a.button.betc.questions { background: url("img/betc-button-questions.png") top left no-repeat; }*/


/*a.button.betc.register { background: url("img/betc-button-register.png") top left no-repeat; }*/


/*a.button.betc:hover { text-decoration: none !important; background-position: 0 -53px; }*/

@media screen and (min-width: 800px) {
  aside blockquote.testimonial .meta {
    float: none;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
  aside blockquote.testimonial .clear.first {
    display: block;
  }
  aside blockquote.testimonial img {
    max-width: 50%;
    margin-right: 0;
  }
  aside blockquote.testimonial img.wp-post-image ~ .info {
    width: 50%;
    padding-left: 10px;
  }
}

@media (max-width: 600px) {
  .page-template-page-landing .mobile {
    display: none !important;
  }
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Highlight Box Added BB 02/16/16
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#the-content .highlight_box {
  margin: 20px 0;
  border: 1px solid #D7DDDF;
  padding: 23px;
  line-height: 1.4em;
}

#the-content .highlight_box:nth-child(odd) {
  background: #D7DDDF;
}

#the-content .highlight_box h3 {
  overflow: visible;
}

.highlight_box .highlight_box_thumb {
  width: 100%;
  margin-bottom: 5%;
}

#the-content .highlight_box p {
  margin-bottom: 10px;
  font-size: 15px;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Highlight Box Added BB 02/16/16
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.c8 .team-member {
  width: 100%;
  /*padding: 20px;*/
  margin-right: 2%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px #dddddd;
}

.team-member {
  width: 49%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  background-color: #EFF1F2;
  box-shadow: 0 4px 6px #dddddd;
}

.team-member:nth-child(even) {
  margin-right: 0;
}

.team-member figure {
  float: left;
  margin: 20px;
  margin-bottom: 0;
}

.team-member figure img {
  margin-bottom: 10px;
}

.team-member h3 {
  margin-top: 20px;
  margin-bottom: 0;
  /*padding: 10px;*/
}

#the-content .team-member.no-image h3,
#the-content .team-member.no-image .role {
  margin-left: 20px;
}

#the-content .team-member ul.author-details {
  background: #F7F8F9;
  border-top: 1px solid black;
  margin: 10px 0 0 0;
  padding: 10px 20px;
  clear: both;
}

#the-content .author-details li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

#the-content .author-details li:nth-child(odd) {
  margin-right: 10px;
}

#the-content .author-details li:nth-child(even) {
  float: right;
}

.team-member-text p {
  padding: 0 20px;
}

.our-team-contact-email:before {
  content: url('img/email.png');
}

.our-team-tel:before {
  content: url('img/phone.png');
}

.our-team-contact-email:before,
.our-team-tel:before {
  margin-right: 10px;
  position: relative;
  top: 5px;
}

#the-content .our-team-tel a,
#the-content .our-team-tel a:link {
  color: #666666;
}

#the-content .our-team-tel span {
  font-weight: 600;
}

h3.member a {
  color: #000000;
}

#the-content .our-team-contact-email a:link {
  color: #ac2b37;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Header Added BB 02/16/16
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.logo a {
  width: 400px;
  border-left: 4px solid white;
}

.logo a {
  display: table;
}

.logo a h1 {
  margin-left: 30px;
  font-weight: 100;
  font-size: 1em;
  max-width: 360px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Form Fields Added BB 02/16/16
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

input[type=text],
input[type=email],
textarea {
  border: 1px solid #8C8C8C;
  line-height: 1.4em;
  padding: 8px 12px;
  color: #333333;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box;
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

input[type=text],
input[type=email] {
  width: 100%;
  max-width: 400px;
}

.your-subject input[type=text] {
  max-width: 100%;
}

input[type=submit],
button {
  padding: 15px 30px;
  text-transform: uppercase;
  border: 0 none;
  cursor: pointer;
}

input[type=submit] {
  float: right;
}

#searchsubmit {
  margin-top: 10px;
}
*/