/*
Theme Name: FYE

*/

.wrap {
	width:910px;
	margin:0 auto;
	position:relative;
}
.wrap:after {
	content:"";
	display:table;
	clear:both;
}

/* WP Core */
.alignleft {
	float:left;
	margin:0 20px 0 0;
}
.alignright {
	float:right;
	margin:0 0 0 20px;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 0 auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
	margin:0 auto 15px;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0 !important;
    padding: 0 4px ;
}
.clear {
	clear:both;
}
.hidden {
	display:none;
	visibility:hidden;
}



/* Form / Input Styles */
textarea,
input {
	padding:0;
	margin:0;
	outline:0;
	border:0;
	font-family: "myriad-pro", Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:15px;
	color:#343434;
	background:#fff;
	width:100%;
	-webkit-appearance: none;
	border-radius: 0;
}
textarea,
input[type=email],
input[type=text] {
	padding:11px 12px 7px;
	line-height:normal;
}
textarea::-webkit-input-placeholder,
input.textbox::-webkit-input-placeholder { /* WebKit browsers */
	color:#343434;
    opacity: 1;
}
textarea:-moz-placeholder,
input.textbox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#343434;
    opacity: 1;
}
textarea::-moz-placeholder,
input.textbox::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#343434;
    opacity: 1;
}
textarea:-ms-input-placeholder,
input.textbox:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#343434;
    opacity: 1;
}
input.btn-submit {
	background:#9ea619;
	display:inline-block;
	width:auto;
	padding:11px 12px 11px;
	color:#fff;
}
.nomar {
	margin:0 0 4px
}




/**********************************************/
/*     HEADER             					  */
/**********************************************/
#header {
	width:100%;
	float:left;
	background:#ac2b37
}
#header .tagline {
	font-family: "Archer SSm A", Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 30px; /* The PSD uses a different variant of Archer, hence the difference in font-size here */
	font-weight: bold;
	color:#fff;
	float:left;
	margin:30px 0 0
}
	#header .tagline a {
		color:#fff;
		text-decoration: none;
	}
#header .logo {
	display:block;
	width:154px;
	float:right;
	margin:26px 20px 26px 0px;
}
#header .logo a {
	display:block;
	width:154px;
	height:0;
	padding:49px 0 0;
	background:url(images/logo.png) no-repeat;
	overflow:hidden;
}







/**********************************************/
/*     NAV	             					  */
/**********************************************/
#nav {
	width:100%;
	float:left;
	padding:0 0 12px;
	background:#062434 url(images/bg-nav-div.jpg) repeat-x 0 100%;
	position:relative;
	z-index:100
}
#nav_toggle,
#mobile-menu { display: none; }
#nav ul li,
#nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
#nav ul {
	float:left;
}
#nav ul li {
	float:left;
	display:inline;
	padding:0 51px 0 0;
	position:relative;
	line-height:normal;
}
#nav ul li:last-child {
	padding:0
}
#nav ul li a {
	float:left;
	display:block;
	font-size:16.3px; /* The PSD uses a different variant of Archer, hence the difference in font-size here */
	color:#fff;
	font-family: "Archer SSm A", Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	padding:10px 15px;
	text-decoration:none;
	-webkit-transition: background-color 400ms ease;
	-moz-transition: background-color 400ms ease;
	-ms-transition: background-color 400ms ease;
	-o-transition: background-color 400ms ease;
	transition: background-color 400ms ease;	
	border-color: #750f19;
}
#nav ul#menu-main-menu > li.current-menu-ancestor > a,
#nav ul#menu-main-menu > li.current-menu-item > a,
#nav ul#menu-main-menu > li > a:hover {
	background:#ac2b37;
	border-top: 2px solid #750f19;
	padding-top: 8px;
}
#nav ul li.sfHover > a.sf-with-ul,
#nav ul li a:hover {
	background:#ac2b37;
}
#nav ul ul {
	display:none;
	position:absolute;
	width:197px;
	float:none;
	top:100%;
	left:0;
	background:#062434;
	padding:0;
}
#nav ul ul li {
	float:none;
	display:block;
	padding:0;
	border-bottom: 1px solid #465c68;
}
#nav ul ul li a {
	float:none;
	display:block;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	font-weight: normal;
	padding: 15px;
}
#nav ul ul li a:hover {
	background:#ac2b37;
}





/**********************************************/
/*     BANNER             					  */
/**********************************************/
#banner {
	width:100%;
	float:left;
	position:relative;
	z-index:10;
	background:url(images/blank-slide.gif) no-repeat 50%;
	background-size:cover;
}
#banner img {
	width:100%;
	position:relative;
	z-index:1;
	display:block;
	height:auto
}
#banner .image-mobile { display: none; }
#banner .main-title {
	position:absolute;
	left:0;
	bottom:0;
	font-size:40px;
	padding:15px 25px;
	background:#008cc9;
	z-index:2;
	color:#fff;
	margin:0
}





/**********************************************/
/*     SLIDER             					  */
/**********************************************/
#slider {
	width:100%;
	float:left;
	position:relative;
	z-index:10;
}
#slider .slide-item {
	width:100%;
	background:url(images/blank-slide.gif) no-repeat 50%;
	background-size:cover;
}
	#slider .slide-item .image-mobile {
		display: none;
	}
#slider .slide-item img.blank  {
	width:100%;
	display:block;
	height:auto;
}
#slider .slide-item .caption {
	position:absolute;
	left:0;
	bottom:64px;
	padding:15px 25px;
	background:url(images/bg-slide-caption.png)
}
#slider .slide-item .caption h1 {
	font-size:35px;
	font-family: 'Copse', serif;
	color:#fff;
	line-height:41px;
	margin:0
}
#slider .slide-item .caption h1 a {
	color:#fff;
	text-decoration:none;
}
#slider .slide-item .caption img {
	display:inline-block;
	vertical-align:middle;
}





/**********************************************/
/*     HOME             					  */
/**********************************************/
#home-row {
	width:100%;
	float:left;
	position:relative;
	z-index:10;
	border-top:solid 5px #092a3b;
}
#home-row.col-one .wrap {
	margin:46px auto;
}
#home-row.col-one .row_wrap {
	background:url(images/bullet-h.jpg) repeat-x 0 0;
}
#home-row.col-one .row {
	padding:46px 0;
	background:url(images/bullet-h.jpg) repeat-x 0 100%;
}
#home-row .col {
	width:50%;
	float:left;
	margin:0 0 34px;
}
#home-row.col-one .col {
	margin:0
}
#home-row .col.last {
	background:url(images/bg-home-row.jpg) no-repeat 0 44px;
	float:right
}
#home-row.col-one .col.last {
	background:#fff;
	float:right
}
#home-row .col .inner {
	padding:0 50px 0 0
}
#home-row .col.last .inner {
	padding:0 0 0 50px
}
#home-row .tab-head {
	font-family: 'Copse', Georgia, Times, 'Times New Roman', serif;
	font-size:18px;
	color:#fff;
	display:inline-block;
	background:#062434;
	padding:10px 14px;
	margin:0 0 36px;
}
#home-row h2 {
	font-family: 'Copse', Georgia, Times, 'Times New Roman', serif;
	font-size:24px;
	color:#000;
	margin:0 0 22px 0;
}
#home-row h3 {
	font-size:18px;
	color:#000000;
}
#home-row p {
	margin:0 0 24px;
}
#home-row .btn {
	margin-top:-6px;
}
#home-footer {
	width:100%;
	float:left;
	position:relative;
	z-index:10;
	background:#4a4077;
	border-top:solid 5px #302a4d;
	border-bottom:solid 7px #302a4d;
}
#home-footer .col {
	width:59.1%;
	float:left;
	margin:48px 0 0
}
#home-footer .col.last {
	width:36.2%;
	float:right;
}
#home-footer .col-img {}

	#home-footer .col-img img {
		/*
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		*/
	}

#home-footer h2 {
	font-size:26px;
	color:#fad94d;
}
#home-footer p {
	color:#fff;
	margin:0 0 28px;
}
#home-footer a {
	color:#fff;
	text-decoration:none;
}
#home-footer ul li,
#home-footer ul {
	list-style:none;
	line-height:normal;
	padding:0;
	margin:0
}
#home-footer ul li {
	margin:0 0 8px;
}
#home-footer ul li a {
	padding:2px 0 0 0;
	line-height:23px;
}
#home-footer ul li span.fa {
	margin-right:10px;
	color:#fad94d;
	
}
#home-footer ul li a:hover  {
	color:#fad94d;
}





/**********************************************/
/*     CONTENT             					  */
/**********************************************/
#content {
	width:100%;
	float:left;
	position:relative;
	z-index:10;
	padding:0 0 40px;
}
#content .main-title {
	color:#fff;
	background:#008cc9;
	display:inline-block;
	padding:7px 22px 14px;
	margin:0 0 54px
}
#content .btn-circles {
	padding:36px 0 0;
	margin:0 0 70px;
	text-align: center;
}
#content .btn-circles .item {
	width:11%;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	font-size:22px;
	color:#c92033;
	font-family: 'Conv_Copse-Regular', Georgia, Times, 'Times New Roman', serif;
	text-decoration:none;
	margin:0 3.25% 0 0;
	line-height:24px;
}
#content .btn-circles .item-2 {
	color:#1D8ECB
}
#content .btn-circles .item-3 {
	color:#B0BB37
}
#content .btn-circles .item-4 {
	color:#4D7161
}
#content .btn-circles .item-5 {
	color:#6D62A9
}
#content .btn-circles .item-6 {
	color:#1F3669
}
#content .btn-circles .item-7 {
	color:#f68a48
}
#content .btn-circles .item.last {
	margin:0
}
#content .btn-circles .item .icon {
	display:block;
	width:100%;
	margin:0 0 7px;
}
#content .btn-circles .item .icon img {
	display:block;
	width:100%;
	height:auto;
}
#content .infos {
	padding: 0 0 40px;
	clear: both;
}
#content .infos .info-title {
	line-height:normal;
	color:#c92033;
	margin:0;
	font-size:22px;
}
/* Added BB 01/27/16 Fix issue with unclickable right sidebar next to accordion */
#content .infos .accord {
  width:60%;
}
#content .infos.active .info-title {
	font-size:26px;
}
#content #info-2 .info-title {
	color:#1D8ECB
}
#content #info-3 .info-title {
	color:#B0BB37
}
#content #info-4 .info-title {
	color:#4D7161
}
#content #info-5 .info-title {
	color:#6D62A9
}
#content #info-6 .info-title {
	color:#1F3669
}
#content #info-7 .info-title {
	color:#f68a48
}
#content .infos .info-title .icon {
	display:inline-block;
	width:27px;
	vertical-align: middle;
	margin:-7px 4px 0 0
}
#content .infos .info-title .icon img {
	display:block;
	width:100%;
	height:auto;
}
#content .infos .icon_content_wrap {
	padding:7px 0 0 35px;
}
#content .infos .alert,
#content .infos .accord .ac-tab {
	margin:0;
	cursor:pointer;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	padding-left: 24px;
}
#content .infos .alert {
	cursor:default;
	margin:0 0 4px;
}
#content .infos .alert:before {
	margin:0 7px 0 0;
	color:#f37c2a;
}
#content .infos .accord .ac-tab:before {
	margin:0 7px 0 0;
	color:#c92033;
	position: absolute;
	left: 0px;
	top: 2px;
}
#content #info-2 .accord .ac-tab:before {
	color:#1D8ECB
}
#content #info-3 .accord .ac-tab:before {
	color:#B0BB37
}
#content #info-4 .accord .ac-tab:before {
	color:#4D7161
}
#content #info-5 .accord .ac-tab:before {
	color:#6D62A9
}
#content #info-6 .accord .ac-tab:before {
	color:#1F3669
}
#content #info-7 .accord .ac-tab:before {
	color:#f68a48
}
#content .infos .accord .ac-content {
	padding:7px 0 0 24px;
	display:none;
}
#content .infos .links {
	min-width:286px;
	border:solid 1px #b6aea6;
	margin-left:30px;
}
#content .infos .links .inner {
	padding:20px 20px 5px 20px;
}
#content .infos .links h4 {
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	margin:0 0 6px;
}
#content .tips {
	border:solid 8px #eee;
	border-width:8px 0;
	padding:15px 15px 4px 35px
}
#content .tips ul {
	padding-left:34px;
}
.steps-note {
	padding:0px 35px 0px 35px;
	margin: 45px 0px 45px;
}
	.steps-note h3 {
		font-size:24px !important;
		font-family: 'Copse', serif !important;
		color: #2f311e !important;
		display: inline-block;
		max-width: 40%;
		vertical-align: middle;
	}
	.steps-note .btn-colord {
		width: auto;
		font-size:22px;
		display: inline-block;
		float: none;
	}
		.steps-note .btn-colord span {
			display: block;
			padding: 11px 16px 11px 46px; 
		}
#content .sked-buttons {
	padding:54px 0 30px 12px;
	background:url(images/bullet-h.jpg) repeat-x;
}
#content .sked-buttons ul li,
#content .sked-buttons ul {
	line-height:normal;
	list-style:none;
	padding:0;
	margin:0;
}

#content .sked-buttons > ul > li,
#content .sked-buttons > ul > li > a { display: none; }
#content .sked-buttons > ul > li.current_page_ancestor { display: block; }

#content .sked-buttons ul ul li {
	float:left;
	display:inline-block;
	border:solid 8px #fff;
	border-width:8px 0;
	margin:0 15px 0 0;
	padding:9px 0
}
#content .sked-buttons ul ul li.current-menu-item,
#content .sked-buttons ul ul li:hover {
	border-color:#eee;
}
#content .sked-buttons ul ul li:last-child {
	margin:0
}
#content .sked-buttons ul ul li a {
	font-size:16px;
	display: inline-block;
	background-color: #aaa;
	background-repeat: repeat-y;
	background-position: 0 0;
	padding: 3px;
	font-family: 'Copse', Georgia, Times, 'Times New Roman', serif;
	text-decoration: none;
	color: #fff;
}
	#content .sked-buttons ul ul li a:hover {
		/* background-image: none !important; */
	}
#content .sked-buttons ul ul li a span {
	display: block;
	padding: 12px 16px 12px 46px;
	border: solid 1px #fff;
	background: url(images/arrow-round.png) no-repeat 15px 50%;
	padding: 7px 10px 7px 36px; 
	background-position:10px 50%;
	background-size:17px 16px;
}
	
	#content .sked-buttons ul ul li.current-menu-item.date-purple > a,
	#content .sked-buttons ul ul li.date-purple > a:hover {
		/* background:#4a4077 url(images/btn-colord-purple.jpg) repeat-y 0 0; */
		background: #6d5faa; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkNWZhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTQwNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #6d5faa 0%, #4a4077 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6d5faa), color-stop(100%,#4a4077)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #6d5faa 0%,#4a4077 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #6d5faa 0%,#4a4077 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #6d5faa 0%,#4a4077 100%); /* IE10+ */
		background: linear-gradient(to right,  #6d5faa 0%,#4a4077 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5faa', endColorstr='#4a4077',GradientType=1 ); /* IE6-8 */

	}
	#content .sked-buttons ul ul li.current-menu-item.date-blue > a,
	#content .sked-buttons ul ul li.date-blue > a:hover {
		/* background:#1978a4 url(images/btn-colord-blue.jpg) repeat-y 0 0; */
		background: #23a9e7; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzYTllNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTc4YTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #23a9e7 0%, #1978a4 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#23a9e7), color-stop(100%,#1978a4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #23a9e7 0%,#1978a4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #23a9e7 0%,#1978a4 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #23a9e7 0%,#1978a4 100%); /* IE10+ */
		background: linear-gradient(to right,  #23a9e7 0%,#1978a4 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a9e7', endColorstr='#1978a4',GradientType=1 ); /* IE6-8 */

	}
	#content .sked-buttons ul ul li.current-menu-item.date-green > a,
	#content .sked-buttons ul ul li.date-green > a:hover {
		/* background:#889235 url(images/btn-colord-green.jpg) repeat-y 0 0; */
		background: #9ea619; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllYTYxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YTgwMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #9ea619 0%, #7a800d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9ea619), color-stop(100%,#7a800d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #9ea619 0%,#7a800d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #9ea619 0%,#7a800d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #9ea619 0%,#7a800d 100%); /* IE10+ */
		background: linear-gradient(to right,  #9ea619 0%,#7a800d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea619', endColorstr='#7a800d',GradientType=1 ); /* IE6-8 */

	}
	#content .sked-buttons ul ul li.current-menu-item.date-yellow2 > a,
	#content .sked-buttons ul ul li.date-yellow2 > a:hover {
		/* background:#caa81a url(images/btn-colord-yellow2.jpg) repeat-y 0 0; */
		background: #e3be21; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzYmUyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGE1MTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #e3be21 0%, #c8a512 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e3be21), color-stop(100%,#c8a512)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #e3be21 0%,#c8a512 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #e3be21 0%,#c8a512 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #e3be21 0%,#c8a512 100%); /* IE10+ */
		background: linear-gradient(to right,  #e3be21 0%,#c8a512 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3be21', endColorstr='#c8a512',GradientType=1 ); /* IE6-8 */
	}
	#content .sked-buttons ul ul li.current-menu-item.date-black > a,
	#content .sked-buttons ul ul li.date-black > a:hover {
		/* background:#343434 url(images/btn-colord-black.jpg) repeat-y 0 0; */
		background: #777777; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #777777 0%, #343434 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#777777), color-stop(100%,#343434)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #777777 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #777777 0%,#343434 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #777777 0%,#343434 100%); /* IE10+ */
		background: linear-gradient(to right,  #777777 0%,#343434 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#343434',GradientType=1 ); /* IE6-8 */

	}



#content .btn-steps {
	margin:0 0 50px;
}
#content .btn-steps .item {
	width:10.5%;
	float:left;
	color:#000;
	font-size:22px;
	text-align:center;
	margin:0 7.4% 0 0;
	text-decoration:none;
	font-family: 'Copse', serif;
	outline: none;
}
#content .btn-steps .item.last {
	margin:0;
}
#content .btn-steps .item .icon {
	position:relative;
	display:block;
	border:solid 8px #fff;
	background:#ad2938;
	margin-top: 3px;
	-webkit-border-radius: 96px;
	border-radius: 96px;	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}
#content .btn-steps .item.active .icon,
#content .btn-steps .item:hover .icon {
	border-color:#bbb
}
#content .btn-steps .item-2 .icon {
	background:#1d8ecb
}
#content .btn-steps .item-3 .icon {
	background:#b0bb37
}
#content .btn-steps .item-4 .icon {
	background:#4d7161
}
#content .btn-steps .item-5 .icon {
	background:#6d62a9
}
#content .btn-steps .item-6 .icon {
	background:#1f3669
}
#content .btn-steps .item .icon img {
	width:100%;
	display:block;
	height:auto;
	position:relative;
	z-index:1;
}
#content .btn-steps .item .icon .num {
	position:absolute;
	z-index:2;
	top: 50%;
	color:#fff;
	display:block;
	width:100%;
	font-size:56px;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}
#content .step-info {
	padding:12px 0 0;
}
#content .step-info .step-title {
	color:#ad2938;
}
#content .step-info.step-2 .step-title {
	color:#1D8ECB;               
}                                     
#content .step-info.step-3 .step-title {
	color:#B0BB37;               
}                                     
#content .step-info.step-4 .step-title {
	color:#4D7161;               
}                                     
#content .step-info.step-5 .step-title {
	color:#6D62A9;               
}                                     
#content .step-info.step-6 .step-title {
	color:#1F3669;
}
#content .step-info .step-title .num {
	width:26px;
	height:26px;
	line-height:26px;
	color:#fff;
	margin: -7px 4px 0 0;
	position: relative;	
	vertical-align:middle;
	background:#ad2938;
	text-align:center;
	display:inline-block;
	font-size:18px;
	-webkit-border-radius: 13px;
	border-radius: 13px;	
}
#content .step-info.step-2 .step-title .num {
	background:#1D8ECB;
}
#content .step-info.step-3 .step-title .num {
	background:#B0BB37;
}
#content .step-info.step-4 .step-title .num {
	background:#4D7161;
}
#content .step-info.step-5 .step-title .num {
	background:#6D62A9;
}
#content .step-info.step-6 .step-title .num {
	background:#1F3669;
}
#content .step-content {
	padding:0 0 0 37px
}

#content .step-content .video-holder {
	width: 50%;
	margin:0 0 28px 20px;
	float: right;
}

#content .step-content h3 {
	color:#000;
	font-size:20px;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: normal;
}
#content .step-content h4 {
	color:#ac2b37;
	font-size:19px;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	margin: 15px 0;
}
#content .step-content ul.list-dl li,
#content .step-content ul.list-dl {
	line-height:normal;
	list-style:none;
	padding:0;
	margin:0;
}
#content .step-content ul.list-dl {
	margin:0 0 20px;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}
#content .step-content ul.list-dl li {
	margin:0 0 7px;
}
#content .step-content ul.list-dl li:before {
	margin:0 10px 0 0;
	color:#AD2938;
}

#content .step-2 .step-content ul.list-dl li:before {color:#1d8ecb;}
#content .step-2 .step-content ul.list-dl li:before {color:#1d8ecb;}
#content .step-3 .step-content ul.list-dl li:before {color:#B0BB37;}
#content .step-4 .step-content ul.list-dl li:before {color:#4D7161;}
#content .step-5 .step-content ul.list-dl li:before {color:#6D62A9;}
#content .step-6 .step-content ul.list-dl li:before {color:#1F3669;}

/* Accordion icon colors change per step */
#content .step-content h4.ac-tab { color: #222; }
#content .step-1 .step-content .ac-tab:before { color: #ac2b37; }
#content .step-2 .step-content .ac-tab:before { color: #1d8ecb; }
#content .step-3 .step-content .ac-tab:before { color: #B0BB37; }
#content .step-4 .step-content .ac-tab:before { color: #4D7161; }
#content .step-5 .step-content .ac-tab:before { color: #6D62A9; }
#content .step-6 .step-content .ac-tab:before { color: #1F3669; }

#content .step-content strong {
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}
#content .step-content blockquote {
	margin:0 0 20px;
	padding:20px 20px 15px 20px;
	border:solid 1px #bfbfbf
}
#content .step-content blockquote p {
	margin:0 0 4px;
	line-height:22px;
}
#content .step-content .ac-tab {
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	font-size:16px;
	line-height: 1.25;
	margin:4px 0 0;
	padding-left: 24px;
	cursor:pointer;
	position: relative;
}
	#content .step-content .ac-tab:hover {
		text-decoration: underline;
	}
	#content .step-content .ac-tab:before {
		color:#ac2b37;
		text-decoration: none !important;
		position: absolute;
		left: 0;
		top: 2px;
	}
#content .step-content .ac-content {
	padding:4px 0 4px 25px;
	display:none;
}
#content .step-content .ac-content .col,
#content .step-content .ac-content .col.last {
	width:50% !important;
	padding-right: 5%;
	float:left !important;
	box-sizing: border-box;
}
#content .step-content .col a {
	text-decoration:none;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	font-size:13px;
	text-transform:uppercase
}
#content .step-content .col a:hover {
	text-decoration: underline;
}
#content .feedback {
	border:solid 8px #ddd;
	border-width:8px 0;
	padding:18px 25px 0 35px;
	margin: 25px 0px;
	clear: both;
}
#content .feedback h2 {
	font-size:22px;
	margin:0 0 10px
}
#content .feedback h5 {
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	margin:0 0 3px;
}
#content .feedback h5:before {
	font-size:20px;
	vertical-align:middle;
	margin:-3px 10px 0 0;
	color:#AD2938;
}

#content .feedback.hasIcon h5 {
	position: relative;
	padding-left: 24px;
}
#content .feedback.hasIcon h5:before {
	position: absolute;
	left: 0px;
	top: 2px;	
}
#content .feedback.hasIcon p {
	padding-left: 24px;
}

#content .feedback .inner {
	padding:0 0 0 30px;
}

	#content .feedback.purple {
		border: none;
		background: #4a4077;
		color: #fff;
		padding: 25px 18px;	
	}
	
		#content .feedback.purple h1,
		#content .feedback.purple h2,
		#content .feedback.purple h3,
		#content .feedback.purple h4,
		#content .feedback.purple h5,
		#content .feedback.purple h6 {
			color: #fad94d;
		}
		
		#content .feedback.purple h2 {
			font-size: 26px;
		}
		
		#content .feedback.purple .fa {
			color: #fad94d;
		}
		
		#content .feedback.purple a {
			color: #fff;
			text-decoration: none;
		}
		
		#content .feedback.purple a:hover {
			text-decoration: underline;
		}
		

.page-template-course-registration #content .steps-note {
	width:690px;
}
#content .lower-note {
	padding:0 35px;
}
#content .half {
	width:40.8%;
	float:left;
	padding:10px 0 0
}
.resources #content .half {
	width:44.7%;
	float:left;
}
#content .half.last {
	width:54.1%;
	float:right;
}
.resources #content .half.last {
	width:44.7%;
	float:right;
}
#content .playlist {
	margin:0 0 28px;
}
.resources #content .half h2 {
	font-size:22px;
	margin:0 0 18px;
	line-height:26px;
	margin:0 0 8px
}
.resources #content .half ul.indent {
	padding-left:28px;
	margin-bottom:25px;
}
.page-template-timeline-to-campus #home-row.col-one .row {
  padding: 46px 0 36px 0;
}
.page-template-timeline-to-campus #home-row.col-one .col.last {
	width:45.1%;
}
.page-template-timeline-to-campus #home-row.col-one .col .btn-colord {
	width:46.4%;
	float:left;
	margin:0 0 20px;
}
.page-template-timeline-to-campus #home-row.col-one .col .btn-colord.alignright {
	float:right;
	margin-left:0;
}
.page-template-timeline-to-campus #home-row.col-one .col .btn-wide {
	width:98.7%;
	clear:both;
}

#home-row .steps-note {
	padding: 0;	
	margin: 25px 0px;
}
	#home-row .steps-note h3 {
		font-size: 18px !important;
		max-width: 50%;
	}
	
	#home-row .steps-note .btn-colord {
		margin-left: 0px;	
	}

.main_box {
	box-sizing: border-box !important;
}




/**********************************************/
/*     FOOTER             					  */
/**********************************************/
#footer {
	width:100%;
	float:left;
	border-top:solid 1px #fff;
	background:#3d3d3d url(images/bg-footer.jpg) repeat-x 0 0;
	color:#fff;
}
#footer .wrap {
	padding:40px 0
}
#footer .col {
	width:380px;
	float:right;
}
#footer .col.last {
	width:405px;
	float:left;
}
#footer .follow li,
#footer .follow {
	line-height:normal;
	list-style:none;
	padding:0;
	margin: 5px 0 0;
}
#footer .follow li {
	float:left;
	width:50%;
	display:block;
	margin:0 0 30px;
}
#footer .follow li.last {
	clear: both;
	float: none;
	margin-bottom: 60px;
}
#footer .follow li a {
	font-size:14px;
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	color:#fff;
	text-decoration:none;
	background:url(images/btn-follow.png) no-repeat;
	padding:7px 0 7px 38px
}
#footer .follow li a.btn-tw {
	background-position:0 -150px;
}
#footer .follow li a.btn-insta {
	background-position:0 -300px;
}
#footer p {
	font-size:14px;
	color:#fff;
	line-height:22px;
	margin:0;
}
#footer p strong {
	font-family: 'myriad-pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}
#footer .logo-footer {
	display:block;
	width:116px;
	height:0;
	padding:102px 0 0;
	background:url(images/logo-footer.png) no-repeat;
	overflow:hidden;
	float:left;
	margin:0 42px 0 0
}
#footer .contact-info {
	width:200px;
	float:left;
	margin:0 0 40px;
}
#footer .contact-info a {
	color:#faa637;
}
#footer .copy {
	color:#999;
	font-size:14px;
}
#footer .field {
	margin:0 0 16px;
}
#footer .cf7-wrap {
	display:block;
}
#footer .cf7-wrap textarea,
#footer .cf7-wrap input {
	width:93%
}
#footer .cf7-wrap textarea {
	height:92px;
}
#footer .footer_contact_heading {
	margin-top: 0;
}


/**********************************************/
/*     Galleria Gallery    					  */
/**********************************************/

.galleria { 
	width: 100%;
	background: #000 
}


/**********************************************/
/*     Carousel Gallery    					  */
/**********************************************/

.carousel { 
	max-width: 550px;
	max-height: 344px;
	width: 75%;
	height: auto;
	background: #3d3d3d;
	overflow: visible !important;
	margin: 30px auto;
	position: relative;
}

	.carousel .cycle-slideshow {
		width: 100%;
		height: 100%;
		max-height: 344px;
		overflow: hidden;
		text-align: center;
	}
	
		.carousel .cycle-slideshow img {
			width: 100%;
			height: auto;
		}
		
	.carousel .carousel-nav {
		width: 44px;
		height: 100%;
		position: absolute;
		top: 0;
		background: #cccccc no-repeat 50% 50%;
		-webkit-transition: background-color 0.5s,;
    	transition: background-color 0.5s;
		outline: none;
		text-indent: -9999px;
	}
		
		.carousel .carousel-nav:hover { background-color: #b5b5b5; }
	
		.carousel .carousel-nav-prev { left: -52px; background-image: url(images/carousel-nav-prev.png) }
		.carousel .carousel-nav-next { right: -52px; background-image: url(images/carousel-nav-next.png) }


/**********************************************/
/*     HELPER             					  */
/**********************************************/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

div.wpcf7 img.ajax-loader {
	border: 2px solid #fff;
	border-radius: 2px;
}

span.wpcf7-not-valid-tip {
	background: #fff;
	padding: 3px 12px;
	font-size: 13px;
	opacity: 0.8;
}


/**********************************************/
/*     PRINT             					  */
/**********************************************/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* NSO Template */

.content.nso {
	border-top: 5px solid #092a3b;
	padding: 0;
}
.page-template-new-student-orientation .row_wrap {
	background:url(images/bullet-h.jpg) repeat-x 0 100%;
	padding: 46px 0;
}
.page-template-new-student-orientation .row {
	padding: 36px 0 0 0;
	background:url(images/bullet-h.jpg) repeat-x 0 0;
}
.page-template-new-student-orientation .row_wrap .buttonrow {
	width: 80%;
	margin: 0 15%;
}
.page-template-new-student-orientation .row_wrap .buttonrow .col .btn-colord {
	width:40%;
	float:left;
	margin:0 0 20px;
}
.page-template-new-student-orientation .row_wrap .buttonrow .col .btn-colord.alignright {
	margin-left: 2em;
}
.page-template-new-student-orientation .row_wrap .buttonrow .btn-wide {
	width:87%;
}
