@import "variables";

.buttons-wrapper {
  @extend .cf;
  text-align: center;
  padding: 10px 0;
  @media #{$medium-up} {
    padding: 8px 0;
  }
  &.wrapper-has-bg-color {
    @media #{$small-only} {
      padding-left: $column-padding;
      padding-right: $column-padding;
    }
    .default-button {
      color: $font-color;
      background-color: $white;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background: rgba($white, 0.9);
        text-decoration: none;
      }
      &:before {
        content: none;
      }
    }
  }
  > br {
    display: none;
  }
}

.button-wrapper {
  position: relative;
  @media #{$medium-up} {
    float: left;
    padding: 0 $column-padding;
    width: calc(100% / 3);
  }
  
  // On small devices, add padding to every child after the first
  &:nth-of-type(n+2) {
    @media #{$small-only} {
      padding-top:16px;
    }
  }
  &:nth-of-type(n+4) {
    padding-top: 16px;
  }
  
  // If this is the only button, center it
  &:only-child {
    @media #{$medium-up} {
      margin: 0 auto;
      float: none;
    }
  }
  
  &:last-child {
    &:nth-of-type(2) {
      @media #{$medium-up} {
        left: calc(100% / 6);
      }
    }
  }
  &:nth-last-of-type(2) {
    &:first-child {
      @media #{$medium-up} {
        left: calc(100% / 6);
      }
    }
  }
}

.button {
  display: block;
  color: $default-button-color;
  font-size: 13px;
  padding: 5px $column-padding;
  transition: all 0.3s;
  font-family: $myriad;
  @media #{$medium-up} {
    font-size: 14px;
  }
  @media #{$large-up} {
    font-size: 17px;
  }
  &:hover {
    text-decoration: underline;
    &:before {
      text-decoration: none;
    }
  }
  &.default-button {
    text-decoration: none;
    &:before {
      font-family: 'fontello';
      content: "\e805";
      margin-right: 5px;
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
  &:not(.default-button) {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &.gray-bg {
    &:hover {
      background-color: $mine-shaft;
    }
  }
  &.red-bg {
    background-color: $well-read;
    &:hover {
      background-color: $crown-of-thorns;
    }
  }
}