@import "variables";

.row {
  @extend .cf;
  margin-bottom: 40px;
  margin-top: 40px;
}

.col {
  float: left;
  padding: $column-padding;
  font-family: $myriad;
  text-align: center;
  &.last {
    @extend .cf;
  }
  * {
    font-weight: 100;
  }
  strong, b, th {
    font-weight: bold;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
  p {
    line-height: 1.5;
  }
  /*
   * The color options below will only get applied via shortcode by using background_color attribute.
   * There is an array named $available_background_colors in functions.php where acceptable colors
   * get defined.
   */
  &.red-bg {
    * {
      color: $white;
      a {
        color: $fuel-yellow;
      }
    }
  }
  &.dark-gray-bg {
    color: $white;
    a:not(.button) {
      color: $fuel-yellow;
    }
  }
  &.light-gray-bg {
    color: $font-color;
  }
  .large-text {
    color: $well-read;
    text-align: center;
    font-size: 39px;
    margin-bottom: 0.5rem;
    @media #{$large-up} {
      font-size: 60px;
    }
  }
  .button-wrapper {
    width: 100%;
    text-align: center;
  }
  .button {
    text-transform: none !important;
    display: inline-block;
    &:before {
      content: none !important;
    }
    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }
}

.half {
  width: 100%;
  @media #{$medium-up} {
    width: 50%;
  }
  .button {
    background-color: $white;
    color: $mine-shaft;
    &:hover {
      background-color: $silver;
    }
  }
}

.third {
  width: 100%;
  @media #{$medium-up} {
    width: calc(100% / 3);
  }
  &.first {
    @media #{$medium-up} {
      border-right: 6px solid $white;
    }
  }
  &:not(.first) {
    @media #{$small-only} {
      display: none;
    }
  }
  &.middle {
    @media #{$small-only} {
      border-top: 8px solid $white;
      border-bottom: 8px solid $white;
    }
    @media #{$medium-up} {
      border-left: 3px solid $white;
      border-right: 3px solid $white;
    }
  }
  &.last {
    @media #{$medium-up} {
      border-left: 6px solid $white;
    }
  }
  .button {
    background-color: $tundora;
    color: $white;
    &:hover,
    &:focus {
      background-color: $mine-shaft;
    }
  }
}