/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Headers
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@import "variables";
$header-box-shadow: 0 5px 10px rgba($black, 0.3);

.logged-in {
  .page-header {
    top: 46px;
  }
}

.site-title {
  margin: 0;
  color: $white;
  display: none;
  font-size: 28px;
  font-family: $minion;
  font-style: italic;
  font-weight: bold;
  margin-left: 190px;
  width: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.2;
  @media #{$large-up} {
    display: block;
  }
  @media screen and (min-width: 1000px) and (max-width: 1100px) {
    margin-left: 220px;
  }
}

.page-header {
  background-color: $crown-of-thorns;
  position: fixed;
  z-index: 103;
  top: 0;
  width: 100%;
  box-shadow: $header-box-shadow;
  +.hero-wrapper,
  +.cycle-slideshow,
  +#the-content {
    margin-top: 87px;
    @media #{$medium-up} {
      margin-top: 106px;
    }
    @media #{$large-up} {
      margin-top: 152px;
    }
  }

  .menu-item {
    padding: 5px 0;
    position: relative;
    a {
      text-decoration: none;
      font-size: 15px;
      color: $mine-shaft;
      &:hover,
      &:focus,
      &.active {
        color: $crown-of-thorns;
        @media #{$large-up} {
          color: $mine-shaft;
        }
      }
    }
  }
}

.logo-wrapper {
  position: relative;
  height: 62px;
  box-shadow: 0 0 10px $mine-shaft;
  @media #{$medium-up} {
    height: 80px;
  }
  @media #{$large-up} {
    height: 110px;
    max-width: 1040px;
    margin: 0 auto;
    box-shadow: none;
  }
}

.header-content-wrapper {
  position: relative;
  box-shadow: 0 0 10px rgba($black, 0.3);
}

.search-and-menu {
  @extend .cf;
  padding: 4px $column-padding;
  background-color: $white;
  box-shadow: 0 5px 5px -3px $mine-shaft;
  @media #{$large-up} {
    display: none;
  }
}

.header-logo {
  max-width: 102px;
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 102;
  transform: translateX(-57%);
  @media #{$medium-up} {
    max-width: 125px;
    top: 14px;
  }
  @media #{$large-up} {
    max-width: 172px;
    top: 20px;
    left: 0;
    transform: translateX(0);
  }
  @media screen and (min-width: 1000px) and (max-width: 1100px) {
    margin-left: $column-padding;
  }
}

.mobile-dropdown-content {
  // position: fixed;
  z-index: 101;
  width: 100%;
  background: $wild-sand;
  padding: 1rem $column-padding 0.5rem;
  border-bottom: 3px solid $fuel-yellow;
  display: none;
  box-shadow: inset 0px 10px 18px -9px $mine-shaft;
  @media #{$large-up} {
    display: block;
    background-color: $white;
    border-bottom: none;
    padding: 0 $column-padding;
  }
  &.active {
    display: block;
  }
  .gsc-search-button {
    min-width: 80px;
    width: 20%;
  }
  .gsc-search-box {
    max-width: 466px;
    margin: 0 auto !important;
  }
}

.top-bar-icon-mobile {
  width: 50%;
  float: left;
  cursor: pointer;
  font-size: 1rem;
  color: $mine-shaft;
  &.active {
    &:before {
      content: '\e822';
      font-size: 18px;
    }
  }
  @media #{$large-up} {
    display: none;
  }
}

.mobile-search-button {
  text-align: right;
  font-size: 1.2rem;
  margin-top: -2px;
}

.mobile-search-button-text {
  padding: 10px;
  text-transform: uppercase;
  background-color: $crown-of-thorns;
  font-family: $myriad;
  color: $white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  display: block;
  text-align: center;
}

.search-wrapper {
  display: none;
  &.active {
    display: block;
    @media #{$large-up} {
      display: none;
    }
  }
}

#body-wrap input.gsc-input {
  margin: 0 !important;
  background: transparent !important;
  text-indent: 10px !important;
  color: $dove-gray !important;
  font-family: $myriad;
}

#gs_id50,
#gs_id51 {
  margin: 0;
}

#gs_tti50 {
  padding: 0;
  vertical-align: initial;
}

.gsc-input-box {
  background-color: $white !important;
  height: 34px !important;
  padding-top: 5px;
  td {
    padding-top: 0;
  }
  &.gsc-input-box-focus {
    box-shadow: none;
  }
}

form.gsc-search-box,
.gsc-search-box {
  margin: 0 !important;
  td {
    border-bottom: none;
  }
}

.gsib_b {
  padding: 0;
}

.gsst_a {
  text-decoration: none;
  padding-top: 0 !important;
  &:after {
    content: '\e822';
    font-family: 'fontello';
    color: $mine-shaft;
  }
}

#gs_cb50,
#gs_cb51 {
  display: none;
}

button.gsc-search-button {
  display: none !important;
}

.gsc-control-cse {
  background-color: transparent!important;
  border: none!important;
}
.desktop-search-box {
  display: none;
  @media #{$large-up} {
    display: block;
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 250px;
  }
  .gsc-input {
    padding: 0!important;
    position: relative;
  }
  .gsc-input-box {
    width: 83%;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    .gsc-input,
    .gsst_a:after {
      color: $dove-gray !important;
    }
    .icon-search {
      background-color: $white;
      position: absolute;
      top: 0;
      bottom: 0;
      cursor: pointer;
      right: 0;
      font-size: 16px;
      color: $dove-gray;
      width: 17%;
      border: none;
      border-left: 2px solid $crown-of-thorns;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }
}