/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Parade
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.logo-parade-wrap {
  position: relative;
  .pagers {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 48px;
    z-index: 10;
    width: 100%;
    a {
      position: absolute;
      font-weight: 100 !important;
      text-decoration: none !important;
      color: $silver-chalice;
    }
    .next {
      right: -30px;
    }
    .prev {
      left: -30px;
    }
  }
}

.logo_parade {
  position: relative;
  z-index: 5;
  img {
    visibility: visible;
  }
}

.logo_parade_slide {
  width: auto !important;
  margin-right: 50px;
}
