/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Project Portfolio
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

// .page-template-templatesprojects-php {
//   #the-content {
//     padding-top: 20px;
//   }
// }
// #project-categories {
//   border: 1px dotted $silver-chalice;
//   border-top: none;
//   border-left: none;
//   text-align: right;
//   margin-bottom: 30px;
//   margin-top: 0;
//   li {
//     display: inline-block;
//     border: 1px dotted $silver-chalice;
//     border-right: none;
//     border-bottom: none;
//     a {
//       -webkit-transition: color 0.25s ease;
//       -moz-transition: color 0.25s ease;
//       transition: color 0.25s ease;
//       display: inline-block;
//       padding: 8px 12px;
//       color: $dove-gray;
//     }
//   }
// }
.portfolio-thumb-wrap {
  display: inline-block;
  margin-bottom: 30px;
}

.portfolio-thumb {
  box-shadow: 0 0 5px rgba($black,.2);
  border-collapse: separate;
  background: $white;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  color: $silver-chalice;
  strong {
    color: $dove-gray;
  }
  header {
    -webkit-transition: border-color 0.25s ease;
    -moz-transition: border-color 0.25s ease;
    transition: border-color 0.25s ease;
    width: auto;
    height: 135px;
    min-height: inherit;
    padding: 0;
    border-bottom: 5px solid $alto;
    overflow: hidden;
    @media #{$max-445px} {
      height: 130px;
    }
    img {
      @media #{$max-445px} {
        width: 100%;
        height: auto;
        max-width: inherit;
      }
      @media #{$max-600} {
        height: 130px;
        max-width: inherit;
        width: 100%;
      }
    }
  }
  img {
    width: auto;
    height: 130px;
    max-width: inherit;
  }
}

article {
  text-align: center;
  padding: 10px;
  min-height: 43px;
  p {
    margin: 0 !important;
  }
}

h3 {
  text-transform: uppercase;
  border-bottom: 1px dotted $silver-chalice;
  margin-top: 30px;
  margin-bottom: 10px;
}

#portfolio-sidebar {
  padding: 0 !important;
  p {
    &.service {
      margin: 0;
    }
  }
  > div {
    padding: 20px;
    padding-top: 10px;
  }
  h2 {
    border-bottom: 1px dotted $silver-chalice;
    color: $dove-gray;
    margin-top: 0;
    font-size: 17px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
    font-weight: bold;
  }
}
