/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Single Portfolio
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.single-project_portfolio .hero {
  &.imaged {
    h1 {
      width: 100%;
    }
  }
  h1 {
    a {
      float: right;
      color: $white;
      padding: 4px 10px;
      margin-left: 20px;
      position: relative;
      z-index: 100;
    }
  }
}
