/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Slideshow
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.front-page {
  &.cycle-slideshow {
    &:before,
    &:after {
      content: none;
    }
    overflow: hidden;
    position: relative;
    color: $white;
    min-height: 140px;
    max-height: 600px;
    > div {
      width: 100%;
      position: absolute;
      padding-bottom: 43%;
      min-height: 140px;
      > img {
        position: absolute;
        width: 100%;
        margin-top: -10%;
      }
    }
    section,
    header,
    footer {
      height: 100%;
    }
    .content-wrap {
      position: absolute;
      bottom: 115px;
      margin-right: 30px;
    }
    h1 {
      position: relative;
      display: inline-block;
      padding: 18px;
      margin: 0 0 3px;
      word-wrap: normal;
      word-break: normal;
      span {
        position: relative;
        z-index: 10;
        word-wrap: normal;
        word-break: normal;
      }
      &:before {
        content: " ";
        z-index: 1;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
      }
    }
    .content {
      position: relative;
      padding: 18px;
      margin: 0;
      margin-bottom: 3px;
      color: $white;
      max-width: 546px;
      font-size: 17px;
      line-height: 24px;
      @media #{$max-600} {
        font-size: 14px;
        line-height: 16px;
      }
      &:before {
        content: " ";
        z-index: 1;
        position: absolute;
        display: block;
        background: $mine-shaft;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
      }
      p {
        margin: 0;
        position: relative;
        z-index: 2;
      }
    }
  }
}


.cycle-pager {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba($white, 0.5);
  z-index: 101;
  font-size: 20px;
  @media #{$medium-up} {
    bottom: 10px;
    font-size: 22px;
  }
  @media #{$large-up} {
    bottom: 15px;
    font-size: 30px;
  }
  > span {
    margin: 0 1px;
    cursor: pointer;
    @media #{$large-up} {
      margin: 0 2px;
    }
    &:hover {
      color: rgba($white, 0.75);
    }
  }
}
.cycle-pager-active {
  color: $white;
}