/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Core / Helpers
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

@import "variables";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.center {
  text-align: center;
}

.clear,
header {
  clear: both;
}

.cf {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

img.center {
  display: block;
  margin: auto;
}

hr {
  clear: both;
  background: none;
  border: none;
  border-bottom: 1px solid $dove-gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ie8 {
  blockquote {
    border: 1px solid $alto;
    padding: 10px;
    p:first-child {
      display: block;
    }
  }
}

.align-right {
  text-align: right;
}


/* =WordPress Core Alignment Tweaks
-------------------------------------------------------------- */

.alignnone {
  margin: 10px 20px 5px 0;
}

.aligncenter {
  margin: 10px auto 5px auto;
}

.alignright {
  float: right;
  margin: 10px 0 5px 20px;
}

.alignleft {
  float: left;
  margin: 10px 20px 5px 0;
}

.aligncenter {
  display: block;
  margin: 10px auto 5px auto;
}

a {
  img {
    &.alignright {
      float: right;
      margin: 10px 0 5px 20px;
    }
    &.alignnone {
      margin: 10px 20px 5px 0;
    }
    &.alignleft {
      float: left;
      margin: 10px 20px 5px 0;
    }
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 6px;
}

.rounded-for-medium-up {
  @media #{$medium-up} {
    border-radius: 20px;
  }
}

.light-gray-bg {
  background-color: $gallery;
}

.red-bg {
  background-color: $crown-of-thorns;
}
.dark-gray-bg {
  background-color: $tundora;
  * {
    color: $white;
  }
}

.gray-bg {
  background-color: $dove-gray;
}


.line-below {
  &:after {
    content: '';
    display: block;
    border-top: 1px solid $dove-gray;
    margin: 9px auto;
    width: 100px;
    @media #{$large-up} {
      margin-bottom: 19px;
    }
  }
}

.widget-title {
  margin-top: 30px;
  color: $well-read;
  font-weight: 100;
  text-align: center;
  font-size: 25px;
  @extend .line-below;
  @media #{$medium-up} {
    font-size: 30px;
  }
  @media #{$large-up} {
    font-size: 35px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.show-on-mobile {
  @media #{$small-only} {
    display: block !important;
  }
}