$crown-of-thorns: #7d2029;
$well-read: #a72b37;
$mako: #41464c;
$fuel-yellow: #eaab1c;
$gallery: #eaeaea;
$silver: #c4c4c4;
$mine-shaft: #333333;

$font-color: $mako;

// Reset
$yellow: #ff0;
$silver-solid: #c0c0c0;

$black: #000;
$white: #fff;

$alto: #dadada;
$silver: #ccc;
$silver-chalice: #aaa;
$boulder: #777;
$mine-shaft: #333;
$tundora: #4d4d4d;
$dark-gray: #222;
$emperor: #555;
$indigo: #4b76c9;
$oslo-gray: #868f96;
$porcelain: #edf1f2;
$dove-gray: #666;
$pattens-blue: #dfeeff;
$torea-bay: #13a;
$periwinkle: #bdd2ff;
$spindle: #aabde6;
$cold-purple: #9aaedb;
$st-tropaz: #2E5399;
$gray: #808080;
$gray2: #919191;
$wild-sand: #f4f4f4;

$footer-bg-color: $crown-of-thorns;
$default-button-color: $mako;
$alumni-bg: #ececec;
$input-bg-color: #eee;
$input-border-color: #ddd;
$testimonial-bg: #ececec;

// Padding
$column-padding: 25px;

// Media Queries
$max-1100: "screen and (max-width: 1100px)";
$min-1100: "screen and (min-width: 1100px)";
$max-960:  "screen and (max-width: 960px)";
$max-799:  "screen and (max-width: 799px)";
$min-800:  "screen and (min-width: 800px)";
$max-600:  "screen and (max-width: 600px)";
$max-760:  "screen and (max-width: 760px)";
$max-445:  "screen and (max-width: 445px)";

$small-only: "screen and (max-width: 767px)";
$medium-up: "screen and (min-width: 768px)";
$medium-only: "screen and (max-width: 999px)";
$large-up: "screen and (min-width: 1000px)";

// Fonts
$minion: "minion-pro", "Times New Roman", serif;
$myriad: "myriad-pro", Helvetica, Arial, sans-serif;