/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Widgets
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.widget {
  @extend .cf;
}

aside {
  &.main {
    @media #{$max-799} {
      border-left: none !important;
      margin-top: 30px;
    }
    &.equalized {
      @media #{$max-799} {
        height: auto !important;
        border-left: none;
      }
    }
  }
}

#the-content {
  aside {
    h2 {
      :first-child {
        margin-top: 0;
      }
    }
  }
}
