
@keyframes exploreBlink {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes circleGlow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



@keyframes rotate10 {
  0% {
    opacity: 0;
  } 7% {
    opacity: 0.2;
  } 14% {
    opacity: 0.4;
  } 21% {
    opacity: 0.6;
  } 28% {
    opacity: 0.8;
  } 35% {
    opacity: 1;
  } 42% {
    opacity: 1;
  } 49% {
    opacity: 0.8;
  } 56% {
    opacity: 0.6;
  } 63% {
    opacity: 0.4;
  } 70% {
    opacity: 0.2;
  } 77% {
    opacity: 0;
  } 85% {
    opacity: 0;
  } 92% {
    opacity: 0;
  } 100% {
    opacity: 0;
  }
}

@keyframes rotate20 {
  0% {
    opacity: 0;
  } 7% {
    opacity: 0;
  } 14% {
    opacity: 0.2;
  } 21% {
    opacity: 0.4;
  } 28% {
    opacity: 0.6;
  } 35% {
    opacity: 0.8;
  } 42% {
    opacity: 1;
  } 49% {
    opacity: 1;
  } 56% {
    opacity: 0.8;
  } 63% {
    opacity: 0.6;
  } 70% {
    opacity: 0.4;
  } 77% {
    opacity: 0.2;
  } 85% {
    opacity: 0;
  } 92% {
    opacity: 0;
  } 100% {
    opacity: 0;
  }
}

@keyframes rotate30 {
  0% {
    opacity: 0;
  } 7% {
    opacity: 0;
  } 14% {
    opacity: 0;
  } 21% {
    opacity: 0.2;
  } 28% {
    opacity: 0.4;
  } 35% {
    opacity: 0.6;
  } 42% {
    opacity: 0.8;
  } 49% {
    opacity: 1;
  } 56% {
    opacity: 1;
  } 63% {
    opacity: 0.8;
  } 70% {
    opacity: 0.6;
  } 77% {
    opacity: 0.4;
  } 85% {
    opacity: 0.2;
  } 92% {
    opacity: 0;
  } 100% {
    opacity: 0;
  }
}

@keyframes rotate40 {
  0% {
    opacity: 0;
  } 7% {
    opacity: 0;
  } 14% {
    opacity: 0;
  } 21% {
    opacity: 0;
  } 28% {
    opacity: 0.2;
  } 35% {
    opacity: 0.4;
  } 42% {
    opacity: 0.6;
  } 49% {
    opacity: 0.8;
  } 56% {
    opacity: 1;
  } 63% {
    opacity: 1;
  } 70% {
    opacity: 0.8;
  } 77% {
    opacity: 0.6;
  } 85% {
    opacity: 0.4;
  } 92% {
    opacity: 0.2;
  } 100% {
    opacity: 0;
  }
}

@keyframes rotate50 {
  0% {
    opacity: 0;
  } 7% {
    opacity: 0;
  } 14% {
    opacity: 0;
  } 21% {
    opacity: 0;
  } 28% {
    opacity: 0;
  } 35% {
    opacity: 0.2;
  } 42% {
    opacity: 0.4;
  } 49% {
    opacity: 0.6;
  } 56% {
    opacity: 0.8;
  } 63% {
    opacity: 1;
  } 70% {
    opacity: 1;
  } 77% {
    opacity: 0.8;
  } 85% {
    opacity: 0.6;
  } 92% {
    opacity: 0.4;
  } 100% {
    opacity: 0.2;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  } 100% {
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
  }
}



@keyframes bar1 {
  0% {
    height: 3px;
  } 25% {
    height: 15px;
  } 50% {
    height: 10px;
  } 75% {
    height: 6px;
  } 100% {
    height: 3px;
  }
}

@keyframes bar2 {
  0% {
    height: 10px;
  } 25% {
    height: 18px;
  } 50% {
    height: 14px;
  } 75% {
    height: 17px;
  } 100% {
    height: 10px;
  }
}

@keyframes bar3 {
  0% {
    height: 14px;
  } 25% {
    height: 18px;
  } 50% {
    height: 10px;
  } 75% {
    height: 8px;
  } 100% {
    height: 14px;
  }
}

@keyframes bar4 {
  0% {
    height: 9px;
  } 25% {
    height: 13px;
  } 50% {
    height: 9px;
  } 75% {
    height: 5px;
  } 100% {
    height: 9px;
  }
}

@keyframes bar4 {
  0% {
    height: 3px;
  } 25% {
    height: 15px;
  } 50% {
    height: 10px;
  } 75% {
    height: 6px;
  } 100% {
    height: 3px;
  }
}

@keyframes bar5 {
  0% {
    height: 12px;
  } 25% {
    height: 9px;
  } 50% {
    height: 14px;
  } 75% {
    height: 8px;
  } 100% {
    height: 12px;
  }
}