        @mixin audio-bars {
          width: 30px;
          height: 30px;
          position: relative;
          background: transparent;
          border: 0;
          transition: opacity 0.2s;
          cursor: pointer;
          .audio-bar-1 {
            width: 3px;
            height: 3px;
            background: #fff;
            position: absolute;
            bottom: 6px;
            left: 1px;
            animation-name: bar1;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          .audio-bar-2 {
            width: 3px;
            height: 10px;
            background: #fff;
            position: absolute;
            bottom: 6px;
            left: 7px;
            animation-name: bar2;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          .audio-bar-3 {
            width: 3px;
            height: 14px;
            background: #fff;
            position: absolute;
            bottom: 6px;
            left: 13px;
            animation-name: bar3;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          .audio-bar-4 {
            width: 3px;
            height: 9px;
            background: #fff;
            position: absolute;
            bottom: 6px;
            left: 19px;
            animation-name: bar4;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          .audio-bar-5 {
            width: 3px;
            height: 12px;
            background: #fff;
            position: absolute;
            bottom: 6px;
            left: 25px;
            animation-name: bar5;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
          .audio-bars:focus {
            outline: none;
          }
        }