				@mixin blimp-explore {
					.bl-inner {
						width: 12px;
						height: 12px;
						border: 2px rgba(255,255,255, 0.8) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
						animation-name: circleGlow;
						animation-duration: 3s;
						animation-iteration-count: infinite;
					}
					.bl-outer {
						width: 20px;
						height: 20px;
						border: 2px rgba(255,255,255, 0.3) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
						animation-name: circleGlow;
						animation-duration: 3s;
						animation-iteration-count: infinite;
					}
					.bl-blink {
						width: 90px;
						height: 90px;
						border: 6px rgba(255,255,255, 0.05) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
						animation-name: exploreBlink;
						animation-duration: 3s;
						animation-iteration-count: infinite;
						transform: scale(0);
					}
				}
				@mixin blimp-build {
					.bl-inner {
						width: 10px;
						height: 10px;
						border: 2px rgba(255,255,255, 0.6) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
					}
					.bl-outer {
						width: 18px;
						height: 18px;
						border: 2px rgba(255,255,255, 0.15) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
					}
				}
				@mixin blimp-innovate {
					.bl-inner {
						width: 8px;
						height: 8px;
						border: 2px rgba(255,255,255, 0.15) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
					}
					.bl-outer {
						width: 16px;
						height: 16px;
						border: 2px rgba(255,255,255, 0.3) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
					}
				}
				@mixin blimp-thrive {
					.bl-outer {
						width: 10px;
						height: 10px;
						border: 2px rgba(255,255,255, 0.6) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
					}
				}	
				@mixin blimp-achieve {
					.bl-outer {
						width: 8px;
						height: 8px;
						border: 2px rgba(255,255,255, 0.3) solid;
						border-radius: 100%;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						box-sizing: border-box;
					}
				}				