			@mixin circle-large {
				width: 150px;
				height: 150px;
				max-width: 150px;
				max-height: 150px;
				position: relative;
				cursor: pointer;
				background: transparent;
				border: 0;
				.icon {
					width: 48px;
					height: 48px;
					position: absolute;
					top: 51px;
					bottom: 51px;
					left: 51px;
					right: 51px;
					transition: 0.2s;
				}
				.cl-outer {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					border: 4px rgba(255,255,255, 0.6) solid;
					border-radius: 100%;
					transition: 0.2s;
				}
				.cl-inner-big {
					position: absolute;
					top: 8px;
					bottom: 8px;
					left: 8px;
					right: 8px;
					border: 18px #F0CA00 solid;
					border-radius: 100%;
				}
				.cl-inner-small {
					position: absolute;
					top: 32px;
					bottom: 32px;
					left: 32px;
					right: 32px;
					border: 6px rgba(255,255,255, 0.3) solid;
					border-radius: 100%;
					transition: border-width 0.2s;
				}
				&:hover {
					.cl-inner-small {
						border-width: 9px;
					}
					.icon {
						transform: scale(.9);
					}
					.cl-outer {
						transform: scale(1.05);
						opacity: 0.15;
					}
				}
				&:active {
					.icon {
						transform: scale(0.85);
					}
				}
				.rotator {
					position: absolute;
					top: 10px;
					bottom: 10px;
					left: 10px;
					right: 10px;
					animation-name: rotator;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
				.rotate-10 {
					position: absolute;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					transform: rotate(-10deg);
					animation-name: rotate10;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
				.rotate-20 {
					position: absolute;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					transform: rotate(-20deg);
					animation-name: rotate20;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
				.rotate-30 {
					position: absolute;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					transform: rotate(-30deg);
					animation-name: rotate30;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
				.rotate-40 {
					position: absolute;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					transform: rotate(-40deg);
					animation-name: rotate40;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
				.rotate-50 {
					position: absolute;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					transform: rotate(-50deg);
					animation-name: rotate40;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
					animation-timing-function: linear;
				}
				.rotate-bar {
				  width: 4px;
				  height: 12px;
				  background: white;
				}
			}