/* .load-more {
	@include remove-appearance;
	border: solid 2px #9fbb05 !important;
	padding: 0;
	min-width: 0;
	width: rem(115px);
	display: block;
	margin: 0 auto rem(60px);
	font-size: rem(17px);
	font-weight: 400;
	height: 35px;
	line-height: 1;
	color: $color-blue;
	text-transform: uppercase;
	font-family: $font-family;
	cursor: pointer;
	transition: $transition;
	&:hover {
		background: $color-blue
	}
} */