// Container Sizes	
	$container-width: 1140;	
	$container-width-px: $container-width * 1px;	
	$container-padding: 50px;
	$container-padding-tablet: 90px;
	$container-padding-phone: 18px;
	$container-total-width: ($container-width + ($container-padding * 2));
	$tablet-max-width: 1024px;
	$phone-max-width: 800px;
	$container-full-width-px: 1440px;
	$container-larger-width-px: 1328px;
	$container-smaller-width-px: 1180px;


// Color Vars
	$white: #ffffff;
	$black: #231F20;
	$red: #AC2B37;
	$ming: #37777E;
	$gray: #F5F5F5;
	
	

// Background & Text Color
	$body-background-color: $white;
	$text-color: $black;
	$link-color: $red;
	$link-hover-color: $red;
	$heading-color: inherit;
	$button-bg-color: $red;
	$button-bg-color-hover: #9B2631;

// Typography
	$thin		: 100;
	$extra-light: 200;
	$light		: 300;
	$regular	: 400;
	$medium		: 500;
	$semi-bold	: 600;
	$bold		: 700;
	$extra-bold	: 800;
	$black-bold	: 900;
	
	$myriad-pro: ('myriad-pro', sans-serif);
	$myriad-pro-condensed: ('myriad-pro-condensed', sans-serif);
	$minion-pro: ('minion-pro', sans-serif);	
	$font-family-default: $myriad-pro;
	$font-family-heading: $minion-pro;
	$font-size: 16px !default;
	$font-weight: $regular;
	$line-height: (24 / 16);
	
	
	$content-link-color: $red;
	$content-link-hover-color: $red;
	$content-paragraph-spacing: (24 / 16) * 1em;
	
// Misc
	$transition-general: all 0.15s linear;
