#page {
    transition: background-color 1s ease;
	background: $color-white;
    position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
    .theme-night & {
        background: $color-dark-gray;
    }
}