*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.tablet-clear,
.desktop-clear,
.clear,
.clearfix:after {
	clear: both;
}
.tablet-clear {
	display: none;
}

a {
	color: $color-link-default;
	text-decoration: none;
}

.container {
	max-width: $container-desktop;
	margin: 0 auto;
	position: relative;
}

body {
	background: $body-background;
	font-family: $font-family-default;
	color: $color-default;
	font-size: $font-size-default;
	line-height: $line-height-default;
}

#header,
#main,
#footer {
	position: relative;
	z-index: 2;
}
#header {
	z-index: 9;
}
#main {
	z-index: 7;
}

img {
	max-width: 100%;
	height: auto;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
	background: #fff;
	border: 1px solid #414042;
	width: 100%;
	font-family: inherit;
	font-size: 14px;
	padding: 7px 12px 5px;
	vertical-align: top;
	margin: 0;
	font-weight: 600;
}

::-webkit-input-placeholder {
	color: #babcbe;
	opacity: 1;
	font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
	color: #babcbe;
	opacity: 1;
	font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #babcbe;
	opacity: 1;
	font-style: italic;
}
:-ms-input-placeholder {  
	color: #babcbe;
	opacity: 1;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

