// Container Sizes
	$container-desktop: 1280px;

// Default Colors
	$color-default: #797979;
	$color-link-default: #F68626;
	$color-heading-default: #b0191f;

// Typography
	$font-family-default: "myriad-pro", 'Myriad Pro', arial, sans-serif;
	$font-size-default: 16px;
	$font-size: 16px;
	$line-height-default: 1.333;
	$arial: 'Arial', sans-serif;
	$archer: "Archer SSm A", 'Archer', sans-serif;
	
// Background, Border & Color
	$body-background: #ffffff;	
	$border-orange: 1px solid #FFBB00;
	$color-blue: #528CC5;