.ie-placeholder {
	display: block;
}
.timeline-slide {
	float: left;
}
.single-timeline-desc {
	display: inline;
	min-height: 266px;
	padding-top: 18px;
}
.events-image,
.event-details-wrap,
.interactive-logo-wrap,
.single-timeline-right {
	float: none;
	width: auto;
	margin-left: 341px;
}
.interactive-logo-wrap {
	padding-right: 30px;
}
.event-details-wrap {
	margin-left: 290px;
}
.events-image {
	margin-left: 345px;
}
.events-image img {
	width: 100%;
	height: auto;
}