@media (min-width: 721px) {
	#nav {
		display: block !important;
	}
}

@media (max-width: 1023px) {
	#header {
		padding: 0;
	}
	#logo {
		width: auto;
		float: none;
		padding: 72px 53px 33px;
	}
	#logo img {
		width: 100%;
		height: auto;
	}
	#logo img.mobile {display: block;}
	#logo img.desktop {display: none;}
	#nav {
		float: none;
		width: auto;
	}
	#nav li {
		height: 96px;
	}
	#nav li a {
		padding-top: 22px;
		padding-bottom: 20px;
	}
	.timeline-wrap {
		padding: 0 45px;
	}
	.timeline-prev,
	.timeline-next {
		width: 45px;
	}
	.timeline-prev span {
		background: url(../images/arrow_prev.png) center center no-repeat !important;
	}
	.timeline-next span {
		background: url(../images/arrow_next.png) center center no-repeat !important;
	}
	.home-right {
		font-size: 18px;
		line-height: 1.3555;
	}
	.home-right p {
		margin-bottom: 1em;
	}
	.fc-heading {
		letter-spacing: 0.1em;
	}
	
	.event-details-wrap {
		float: none;
		width: auto;
		margin-left: 315px;
	}	
	.events-image, .events-detail {
		float: none;
		width: auto;
	}
	.single-timeline-right {
		/*
		float: none;
		width: auto;
		margin-left: 341px;
		*/
	}
		.single-timeline-right img {
			display: none;
		}
	.interactive-left {
		background: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		padding: 0;
		min-height: 0;
	}
	.interactive-left .il-intro {
		display: none !important;
	}
	.interactive-logo-wrap {
		float: none;
		width: auto;
		padding: 50px;
		text-align: center;
	}
		
		.interactive-logo #mapster_wrap_0 {
			margin: 0 auto;
		}
	
	.il-desc {
		background: #a71932;
		background: rgba(167, 25, 50, 0.85);
		padding: 24px 26px 24px;
	}
}

@media (max-width: 720px) {
	.il-desc {
		background: #a71932;
	}
	
	.timeline-wrap {
		padding: 0;
	}
	.timeline-prev,
	.timeline-next {
		background-color: transparent;
		width: 62px;
		z-index: 9;
		position: absolute;
	}
	.timeline-next:before,
	.timeline-prev:before {
		content: ' ';
		background: red;
		position: absolute;
		width: 2px;
		height: 100%;
		z-index: 1;
		top: 0;
		left: -2px;
		box-shadow: 0 0 62px 20px #000;
	}
	.timeline-next:before {
		left: auto;
		right: -2px;
	}
	.interior {
		padding-left: 20px;
		padding-right: 20px;
	}
	.timeline-interior {
		padding: 0;
	}
	.single-timeline-right,
	.single-timeline-desc,
	.event-calendar-container,
	.event-details-wrap {
		margin: 0;
		width: auto;
		height: auto;
		float: none;
	}
	
	.single-timeline-right img, 
	.single-timeline-right img.event-image {
		height: auto;
		position: relative;
		left: auto;
		top: auto;
	}
		.single-timeline-right.no-embed img {
			display: block;
		}
	.single-timeline-desc {
		min-height: 0;
		padding-bottom: 10px;
	}
	
	.event-calendar-container {
		padding-bottom: 30px;
	}
	.events-image, .events-detail {
		margin-left: 0 !important;
	}
	.home-left,
	.home-right {
		float: none;
		width: auto;
	}
	.home-left {
		padding-top: 25px;
		max-width: 290px;
		position: static;
		overflow: hidden;
	}
	.ec-top {
		width: 290px;
	}
	.home-right {
		font-size: 15px;
		line-height: 1.2;
		padding-right: 0;
		padding-left: 0;
	}
	.footer-column {
		float: none;
		width: auto;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	.fc-heading {		
		letter-spacing: 0.20em;
	}
	#logo {
		padding: 25px 25px;
	}
	#show-menu {
		background: url(../images/menu_open.png) right center no-repeat;
		border-top: 1px solid #ededed;
		display: block;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		font-family: 'GothamRegular', 'Gotham Light', Arial, Sans-serif;
		letter-spacing: 0.20em;
		color: #b2b7bc;
		padding: 25px 0;
	}
	.menu-shown {
		background: url(../images/menu_close.png) right center no-repeat !important;
	}
	#nav {
		background: #fff;
		width: 100%;
		padding: 0 20px;
		position: absolute;
		display: none;
	}
	#nav li {
		float: none;
		width: auto;
		border: 0;
		border-top: 1px solid #ededed;
		height: auto;
	}
	#nav li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

}

@media (max-width: 450px) {
	.interactive-logo-wrap {
		padding: 30px 0px;
	}
	
	.interactive-left {
		position: relative;
		width: 100%;
		right: auto;
		top: auto;
	}
}