// Define Sizes
$xs: 0;
$sm: 576px; // phone
$md: 768px; // tablet
$lg: 1025px; // desktop
$xl: 1200px;

// Bootstrap Breakpoints
$grid-breakpoints: (
  xs: $xs, // phone
  sm: $sm, // phone
  md: $md, // tablet
  lg: $lg, // desktop
  xl: $xl // wide desktop
);

// Mobile First
@mixin mq_up($screen_width) {
	@media only screen and (min-width : #{$screen_width}) {
		@content;
	}
}

// Desktop First
@mixin mq_down($screen_width) {
	@media only screen and (max-width : #{($screen_width - 1)}) {
		@content;
	}
}

// Range Specific
@mixin mq($from, $to) {
	@media (min-width: #{$from}) and (max-width: #{$to}) {
		@content;
	}
}
