.section-featured-campaign-stories {
	position: relative;
	padding: 72px 0;
	.container {
		max-width: 1300px;
		z-index: 5;
	}
	.featured-cs-background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.featured-cs-bg-left {
			position: absolute;
			width: 710px;
			right: 50%;
			margin-right: 10px;			
			height: 100%;
			z-index: 5;
			@media (max-width: 1440px) {
				right: auto;
				left: 0;
				margin-right: 0;
			}
		}
		.bg-split-top,
		.bg-split-bottom {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 292px;
		}
		.bg-split-bottom {
			height: auto;
			bottom: 0;
			top: 292px;
			&.bg-color-none {
				background-color: $gray;
			}
		}
	}
}

.featured-cs-row {
	display: flex;
	& > div {
		min-width: 0;
	}
	
	.featured-cs-left {
		flex: 0 0 auto;
		width: 514px;
		padding: 75px 72px 30px 0;
		h2 {
			margin: 0 0 16px;
		}
	}
	
	.featured-cs-right {
		position: relative;
		flex: 1 1 100%;
		.arrows-wrap {
			position: absolute;
			bottom: -1px;
			right: 100%;
			margin-right: 71px;
			width: 62px;
			.button-control {
				margin-top: 28px;
			}
		}
		.swiper-container {
			width: 1110px;
		}
	}
	.swiper-slide {
		width: 340px;
		height: auto;
		background: $white;
	}
}

.story-carousel-entry {
	background: $white;
	
	figure img {
		width: 100%;
	}
	.story-carousel-entry-text {
		padding: 32px 30px 29px;
		p {
			margin: 8px 0 15px;
		}
	}
}

@media (max-width: $tablet-max-width) {
	.section-featured-campaign-stories {
		padding: 60px 0;
	}
	.featured-cs-row {
		.featured-cs-left {
			padding: 63px 60px 30px 0;
			width: 502px;
		}
	}
}

@media (max-width: $phone-max-width) {
	.section-featured-campaign-stories .featured-cs-background .featured-cs-bg-left {
		width: 464px;
	}
	.section-featured-campaign-stories {
		padding: 40px 0;
	}
	.featured-cs-row {
		display: block;
		.featured-cs-left {
			width: auto;
			max-width: 428px;
			padding: 5px 0 30px;
			h2 {
				margin-bottom: 7px;
			}
		}
		.swiper-slide {
			width: 300px;
			
		}
	}
	.story-carousel-entry .story-carousel-entry-text {
		padding: 25px 18px;		
	}
	.featured-cs-row .featured-cs-right .arrows-wrap {
		position: relative;
		bottom: auto;
		right: auto;
		width: auto;
		text-align: center;
		margin: 0;
		max-width: 428px;
		padding: 1px 0 0;
		.button-control {
			margin-left: 6px;
			margin-right: 6px;
		}
	}
}

@media (max-width: 480px) {
	.section-featured-campaign-stories .featured-cs-background .featured-cs-bg-left {
		width: auto;
		right: 18px;
	}
	.featured-cs-row .featured-cs-left {
		padding-right: 30px;
	}
}