.section-full-width-content {
	padding: 72px 0 72px;
}
.section-hero + .section-full-width-content {
	padding-top: 48px;
}

.fwc-top,
.fwc-content {
	max-width: 720px;
}
.fwc-top {
	padding: 3px 0 29px;
}
.fwc-content {
	padding: 1px 0 0;
}

.sc-type-none {
	.fwc-top,
	.fwc-content {
		max-width: none;
	}
}

.sc-align-left .fwc-content {
	max-width: none;
}

.sc-align-left .fwc-secondary {
	float: left;
	margin: 0 42px 10px 0;
}
.sc-align-right .fwc-secondary {
	float: right;
	margin: 0 0 20px 42px;
}

.fwc-secondary-image {
	max-width: percentage(498 / 1080);
}

.fwc-secondary-list-block {
	width: percentage(540 / 1080);
	padding: 29px 30px 22px;
	ul {
		column-count: 2;
		column-gap: 26px;
	}
	li {
		position: relative;
		font-family: $minion-pro;
		font-weight: $semi-bold;
		font-size: rem(18px);
		line-height: (30 / 18);
		padding-bottom: 9px;
		overflow: hidden;
		&::before {
			content: '\e813';
			font-family: 'fontello';
			position: absolute;
			top: 1px;
			left: 0;
			font-size: (10 / 18) * 1em;
			line-height: (30 / 10);
		}
		padding-left: (27 / 18) * 1em;
	}
}


@media (max-width: $tablet-max-width) {
	.section-full-width-content {
		padding: 60px 0;
	}
	
	.fwc-secondary-image {
		max-width: percentage(360 / 844);
	}
	
	.fwc-secondary-list-block {
		width: percentage(486 / 844);
	}	
}

@media (max-width: $phone-max-width) {
	.section-full-width-content {
		padding: 42px 0;
	}
	
	.swc-wrap {
		display: flex;
		flex-wrap: wrap;
		
		& > div {
			flex: 0 0 100%;
			min-width: 0;
			max-width: none;
		}
		.fwc-top {
			order: 0;
		}
		.fwc-content {
			order: 1;
		}
		.fwc-secondary {
			order: 2;
			float: none;
			margin: 20px 0 0;
		}
		.fwc-secondary-image {
			img {
				width: 100%;
			}
		}
	}
	.fwc-secondary-list-block ul {
		column-count: auto;
		column-gap: normal;
		li {
			font-size: rem(16px);
		}
	}
}