a.skip-nav-btn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	border-radius: 0;
	left: 0;
	transform: translateY(-100%);
	&:focus {
		transform: translateY(0%);
	}
}

#header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	.container {
		max-width: $container-larger-width-px;
	}
}
#nav {
	text-align: center;
	padding: 42px 0 0;
	position: relative;
	li {
		display: inline-block;
		vertical-align: top;
		font-size: rem(21px);
		text-transform: uppercase;
		@include font-condensed;
		letter-spacing: 0.095em;
		line-height: (30 / 21);
		padding: 0 4px;
		a {
			text-decoration: none;
			display: inline-block;
			color: $black;
			padding: 1px 10px 3px;
			
		}
	}
	li a:hover,
	li.current-menu-item > a,
	li.current-menu-ancestor > a {
		background: $red;
		color: $white;
	}
	
	.header-corner-btn {
		background: $red;
		display: block;
		position: absolute;
		top: 32px;
		right: -5px;
		color: $white;
		font-size: rem(21px);
		text-transform: uppercase;
		@include font-condensed;
		letter-spacing: 0.095em;
		height: 53px;
		line-height: 48px;
		text-decoration: none;
		padding: 0 40px;
		.icon {
			font-size: rem(24px);
			margin-right: 5px;
		}
		/*
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			right: 100%;
			border-top: 53px solid $red;
			border-left: 29px solid transparent;
			transition: inherit;
		}
		*/
		&:hover {
			background: $button-bg-color-hover;
			&::before {
				border-top-color: $button-bg-color-hover;				
			}
		}
	}
}

.header-color-white #header {
	#nav {
		li a {
			color: $white;
		}
		li a:hover,
		li.current-menu-item > a,
		li.current-menu-ancestor > a {
			background: $white;
			color: $text-color;
		}
		
		.header-corner-btn {
			background: $white;
			color: $text-color;
			&::before {
				border-top-color: $white;
			}
			 &:hover {
				 background: $black;
				 color: $white;
				 &::before {
					 border-top-color: $black;				
				 }
			 }
		}
	}
}

#mobile-menu {
	display: none;
}
#nav-toggle {
	display: none;
}

@media (max-width: $tablet-max-width) {
	#nav {
		padding-top: 29px;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		& > ul {
			min-width: 0;
			padding-right: 17px;
		}
		li {
			font-size: rem(18px);
			letter-spacing: 0.083em;
			padding: 0 4px;
			a {
				padding: 2px 10px;
			}
		}
		.header-corner-btn {
			position: relative;
			min-width: 0;
			flex: 0 0 auto;
			top: 0;
			right: 0;
			margin: -9px 2px 0 0;
			font-size: rem(18px);
			height: 48px;
			line-height: 42px;
			letter-spacing: 0.083em;
			padding: 0 17px;
			.icon {
				margin-right: 1px;
			}
			&::before {				
				border-top-width: 46px;
			}
		}
	}
}

@media (max-width: 866px) and (min-width: $phone-max-width + 1px) {
	#nav {
	
	}
}

@media (max-width: $phone-max-width) {
	#nav {
		display: none;		
		ul {
			display: none;
		}
		.header-corner-btn {
			display: none;
		}
	}
	#nav-toggle {
		display: block;
		position: absolute;
		top:  29px;
		right: 21px;
	}
	.nav-toggle {
		display: inline-block;
		text-decoration: none;
		color: $black;
		@include font-condensed;
		font-size: rem(18px);
		letter-spacing: 0.0833em;
		text-transform: uppercase;
		padding: 9px 10px 8px 16px;
		.icon {
			font-size: rem(19px);
			line-height: 0.8;
			margin-right: 3px;
		}
	}
	.header-color-white #header #nav-toggle {
		color: $white;
	}
	
	#mobile-menu {
		background: $red;
		display: block;
		position: absolute;
		z-index: 99;
		top: 0;
		right: -375px;		
		width: 100%;
		max-width: 375px;
		overflow: auto;
		transition: all 0.1s ease;
		.mobile-menu-inner {
			padding: 27px 36px 36px;
		}
		a {
			color: $white;
			text-decoration: none;
		}
		ul.menu {
			padding: 25px 0 36px;
			& > li {
				border-bottom: 1px solid rgba($white, 0.1);
				font-size: rem(21px);
				line-height: (33 / 21);
				&:first-child {
					border-top: 1px solid rgba($white, 0.1);
				}
				& > a {
					font-weight: $semi-bold;
					font-family: $minion-pro;
				}
			}
			li {
				position: relative;
				a {
					display: block;
					padding: 11px 0 13px;
					margin-right: 42px;
				}
			}
			li li {
				font-size: rem(18px);
				line-height: (30 / 18);
				padding-left: 12px;
				a {
					padding: 4px 0 5px;
				}
			}
			li.current-menu-item > a {
				text-decoration: underline;
			}
			.mobnav-subarrow {
				position: absolute;
				top: 1px;
				right: -18px;
				color: $white;
				cursor: pointer;
				font-size: 26px;
				height: 56px;
				width: 50px;
				text-align: center;
				line-height: 56px;
			}
		}
		li ul {
			display: none;
			padding-bottom: 12px;
		}
		.nav-toggle {
			margin-left: -19px;
		}
		&.expanded {
			right: 0;
		}
		.button {
			width: 100%;
			border-color: $white;
			&:hover {
				background-color: $white;
				color: $black !important;
			}
		}
	}
}