.spacer {
	.container {
		display: flex;
		align-items: flex-end;
		height: 144px;
	}
    &.bg-color-brand-red,
    &.bg-color-tart {
        .spacer-image svg {
            path {
                stroke: #fff;
            }
        }
    }
}
.spacer-dots-2 .container {
	align-items: flex-start;
	.spacer-image {
		position: absolute;
		right: 50%;
		top: 0;
	}
}

.spacer-dots-3 .container {
	align-items: flex-start;
	max-width: 1240px;
	padding: 0 50px;
	.spacer-image {
		margin-left: -30px;
	}
}

.spacer-height-custom {
	.spacer-image {
		height: 100%;
		img {
			height: 100%;
		}
	}
}

@media (max-width: $tablet-max-width) {
	.spacer-dots-3 .container {
		padding: 0 50px;
		.spacer-image {
			margin-left: 0;
		}
	}
}

@media (max-width: $phone-max-width) {
	.spacer {
		.container {			
			height: 110px;
		}
	}
	.spacer-dots-2 .container {		
		.spacer-image {
			right: 30px;
			top: 0;
		}
	}
	.spacer-dots-3 .container {
		padding: 0 30px;		
	}
}