.section-text-box {
	padding: 69px 0 71px;
	position: relative;
	.container {
		position: relative;
	}
}

.text-box-inner {
	position: relative;
	border: 3px solid $black;
	border-top: 0;
	border-bottom: 0;
	padding: 78px 70px 67px;
	z-index: 5;
	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;		
		width: 42px;
		border: 3px solid $black;
		border-left: 0;
		border-right: 0;
	}
	&::after {
		left: auto;
		right: 0;
	}
}

.fg-color-light {
	.text-box-inner,
	.text-box-inner::before,
	.text-box-inner::after {
		border-color: $white;
	}
}

.text-box-content {	
	text-align: center;
	@include set-text-margin(0 0 0.7em);
	h2 {
		margin: 0 0 16px;
	}
	.buttons-wrap {
		margin-top: 21px;
	}
	.btn {
		min-width: 200px;
		margin: 6px 15px;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.section-hero-video + .section-text-box {
	.container::after {
		background: url('../images/mouse-trail.svg') no-repeat;
		background-size: 100% 100%;
		position: absolute;
		content: '';
		z-index: 1;
		width: percentage(494 / 1328);
		height: 300px;
		top: -260px;
		right: 50%;
		@media (max-width: $tablet-max-width) {
			background-image: url('../images/mouse-trail-tablet.svg');
			width: 342px;
			height: 218px;
			top: -200px;
		}
	}
	.text-box-inner {
		padding-top: 99px;
		@media (max-width: $tablet-max-width) {
			padding-top: 68px;
		}
	}
}

@media (max-width: $tablet-max-width) {
	.section-text-box {
		padding-top: 59px;
		padding-bottom: 59px;
	}
	.text-box-inner {
		padding-top: 66px;
		padding-bottom: 55px;
	}
}


@media (max-width: $phone-max-width) {
	.section-hero-video + .section-text-box .container::after {
		display: none;
	}
	.section-text-box {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.section-hero-video + .section-text-box .text-box-inner,
	.text-box-inner {
		padding: 45px 18px 38px;
	}
	.text-box-content .buttons-wrap {
		margin-top: 23px;
	}
	.text-box-content .btn {
		width: 100%;
		max-width: 360px;
		margin-left: 0;
		margin-right: 0;
	}
	.text-box-content h2 {
		margin-bottom: 8px;
	}
}