/*
Theme Name: Graduate Profiles
Theme URI:
Description: WPI Graduate Profiles Wordpress Theme 
Version:1.0
Author:
Author URI:
Tags: responsive, Wordpress 4
*/

@import 'normalize.min.scss';
@import 'fontello.scss';
html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/**********************************************
/*     GLOBALS                                *
/**********************************************/

body {
  font-family: "myriad-pro", sans-serif;
  font-size: 17px;
  color: #333;
  -webkit-text-size-adjust: 100%;
}

.wrap {
  width: 1005px;
  margin: 0 auto;
  position: relative;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.alignleft {
  float: left;
  margin: 0 20px 0 0;
}

.alignright {
  float: right;
  margin: 0 0 0 20px;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
  margin: 0 auto 15px;
  &.alignnone,
  &.alignleft {
    margin: 5px 20px 20px 0;
  }
  &.alignright {
    margin: 5px 0 20px 20px;
  }
  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }
  p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0 !important;
    padding: 0 4px;
  }
}

.clear {
  clear: both;
}

.cf {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "myriad-pro", sans-serif;
  line-height: normal;
  margin: 0 0 15px;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
  font-weight: 700;
}

ul,
ol {
  margin: 0 0 15px;
  padding: 0 0 0 30px;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

ul li,
ol li {
  margin: 0;
}

a {
  color: #333;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 27px;
  margin: 0 0 15px;
}

strong {
  font-weight: 700;
}


/**********************************************
/*     HEADER                                 *
/**********************************************/

#header {
  width: 100%;
  float: left;
  position: relative;
  background: #f1f1f2;
  &:before {
    background: #c32133;
    height: 10px;
    display: block;
    content: " ";
    width: 100%;
  }
  .wrap {
    padding: 36px 0;
  }
  .tagline {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #231f20;
    a {
      color: #231f20;
      text-decoration: none;
    }
    strong {
      color: #c32133;
    }
  }
  .logo {
    width: 155px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 25px;
    a {
      width: 155px;
      height: 0;
      padding: 51px 0 0;
      background: url(images/logo.jpg) no-repeat;
      overflow: hidden;
      display: block;
    }
  }
}


/**********************************************
/*     BLACK                                  *
/**********************************************/

#black {
  width: 100%;
  float: left;
  position: relative;
  background: #000000;
  .wrap {
    padding: 24px 0 34px;
  }
  h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }
}

.page-template-front-page #black h2 {
  margin: 0 0 10px;
}

#black {
  p {
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
  }
  .inner {
    max-width: 620px;
    float: left;
  }
  .btn {
    float: right;
    width: 184px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    display: block;
    // border: solid 1px #fff; BB 02/22/17
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -27px;
    background-color: #ad172b;
  }
}

// #black .btn:hover {
// background: #ac2b37;
// }

/**********************************************
/*     CONTENT                                *
/**********************************************/

#content {
  width: 100%;
  float: left;
  position: relative;
  .wrap {
    padding: 62px 0;
  }
  .grid-list {
    // margin-left: -1.3%; BB 02/22/17
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .clear3 {
      clear: both;
    }
    .item {
      width: calc((100% / 3) - 5px);
      height: 325px;
      float: left;
      margin: 0;
      // background: #000000; BB 02/22/17
      overflow: hidden;
      position: relative;
      margin: 2.5px;
      &:hover,
      &:focus,
      &.open {
        img {
          -webkit-filter: blur(7px);
          filter: blur(7px);
        }
        .caption {
          opacity: 1;
          display: block;
          background-color: rgba(black, 0.4);
        }
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;
      }
      .text {
        width: 100%;
        height: 100%;
        line-height: 325px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        h5 {
          color: #fff;
          line-height: normal;
          text-align: center;
          font-size: 35px;
          // font-weight: 700;
          display: inline-block;
          vertical-align: middle;
          padding: 0 5%;
          margin: 0;
          @media screen and (min-width: 701px) {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);
          }
        }
        &.red {
          background: #c32133;
        }
        &.black {
          background: #000;
        }
      }
      .caption {
        // width: 100%; BB 02/22/17
        // padding: 0; BB 02/22/17
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        // display: none;
        background-color: rgba(black, 0);
        // bottom: -100%; BB 02/22/17
        // background: url(images/bg-caption.png);
        z-index: 10;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        transition: all 200ms linear;
        .inner {
          padding: 5px 14px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          width: 90%;
        }
        h4 {
          color: #fff;
          font-size: 33px;
          font-weight: 600;
          font-family: "Archer SSm A", "Archer SSm B";
          // border-bottom: solid 2px #fff; BB 02/22/17
          // margin: 0; BB 02/22/17
          // float: left; BB 02/22/17
          // display: inline; BB 02/22/17
          line-height: 33px;
        }
        .title {
          font-size: 23px;
          // font-style: italic;
          color: #fff;
          clear: both;
          display: block;
        }
      }
      &.profile-2,
      &.item-4 {
        // clear: left; BB 02/08/18
      }
      // &:hover .caption { BB 02/22/17
        // bottom: 0; BB 02/22/17
      // } BB 02/22/17
    }
  }
}

.ie-version-8 #content .grid-list .item .caption {
  h4 {
    font-size: 30px;
  }
  .title {
    font-size: 20px;
  }
}

#content {
  .grid-list {
    .item-logo-mob {
      display: none;
    }
    .item-profile {
      cursor: pointer;
      &:before {
        font-family: 'fontello';
        font-size: 15px;
        color: #c41230;
        // box-shadow: 0px 3px 9px 1px black; BB 02/22/17
        padding: 8px 11px;
        // width: 39px; BB 02/22/17
        // height: 38px; BB 02/22/17
        display: block;
        content: "\e821";
        // background: url(images/icon-plus.png) no-repeat; BB 02/22/17
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 20;
        background-color: #e6e6e6;
        border-radius: 50%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.66);
      }
    }
    .profile-full {
      display: none;
      position: relative;
    }
  }
  .profile-full .close-profile {
    font-family: 'fontello';
    color: #333;
    display: none;
    width: 24px;
    height: 24px;
    padding: 2px;
    // background: #808080 url(images/icon-x-transparent.png) no-repeat center center; BB 02/22/17
    // margin: 20px auto; BB 02/22/17
    cursor: pointer;
    float: right;
    border-radius: 4px;
  }
  .profiles {
    display: none;
    position: relative;
    margin-bottom: 20px;
    .close {
      font-family: 'fontello';
      // width: 26px; BB 02/22/17
      // height: 0; BB 02/22/17
      padding: 5px;
      // overflow: hidden; BB 02/22/17
      // display: block; BB 02/22/17
      position: absolute;
      right: 6px;
      top: 0;
      // background: url(images/icon-close.png) no-repeat; BB 02/22/17
      cursor: pointer;
      z-index: 1;
      color: #fff;
      font-size: 21px;
      &:before {
        content: '\e822';
      }
    }
    .profile {
      padding: 0 0 40px;
    }
    .banner {
      background: #c32133;
      color: #fff;
      position: relative;
      margin: 0;
    }
    .profile:after {
      content: " ";
      clear: both;
      display: table;
    }
    .banner {
      &:after {
        content: " ";
        clear: both;
        display: table;
      }
      .img {
        float: left;
        width: 65%;
      }
      .video-wrap {
        float: left;
        width: 65%;
        // height: 342px; BB 02/22/17
        position: relative;
        padding: 0;
      }
      .video-meta {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 14px 0;
        color: #000;
        font-size: 15px;
        line-height: 18px;
        background: #717171;
      }
      .video-meta-mob {
        display: none;
      }
      .img img {
        width: 100%;
        display: block;
        height: auto;
      }
      .text {
        width: 340px;
        float: right;
      }
      .heading {
        font-family: "Gotham A", "myriad-pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 41.34px;
        /* old */
        font-size: 3.69vw;
        color: #a6a8ab;
        text-transform: uppercase;
        line-height: 1.299951620706338;
        letter-spacing: 0.115em;
        position: relative;
        display: block;
        padding: 0 0 16px 0;
        margin: 34px 19.76401179941003% 12px 9.43952802359882%;
        &:after {
          width: 100%;
          height: 6px;
          background: #a6a8ab;
          content: " ";
          position: absolute;
          left: -1px;
          bottom: -6px;
          display: block;
        }
      }
      .connect {
        font-family: "Gotham A", "myriad-pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        font-size: 41.34px;
        /* old */
        font-size: 3.69vw;
        letter-spacing: 0.115em;
        padding: 0;
        margin: 12px 10px 0 9.43952802359882%;
      }
      .quote {
        color: #fff;
        font-size: 30px;
        line-height: 33px;
        font-style: italic;
        width: 100%;
        position: absolute;
        right: 0;
        width: 340px;
        // bottom: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        span {
          display: block;
          position: relative;
          padding: 0 24px;
          text-align: center;
          &:before,
          &:after {
            width: 44px;
            height: 32px;
            content: " ";
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-size: 44px;
          }
          &:before {
            background-image: url(images/quote-1.png);
            margin-bottom: 20px;
          }
          &:after {
            background-image: url(images/quote-2.png);
            margin-top: 20px;
          }
        }
      }
    }
    .main {
      width: calc(65% - 10px);
      padding-right: 10px;
      float: left;
      .name {
        color: #333;
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        padding-top: 15px;
      }
      .dept {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        text-transform: none;
        margin: 0 0 18px;
      }
    }
    .sidebar {
      width: 33%;
      float: right;
      padding: 10px;
      background-color: #e6e6e6;
      h4 {
        margin: 0;
        padding: 10px 15px;
        color: #666;
      }
      ul {
        list-style: none;
        // padding: 0;
        padding-left: 15px;
        padding-bottom: 15px;
        margin: 0;
        // font-weight: 700;
        li {
          list-style: none;
          padding: 0;
          margin: 0;
          // font-weight: 700;
          line-height: 1.7;
        }
        a {
          color: #666;
        }
      }
    }
  }
  .grid-list {
    .profile-full {
      width: 325px;
      margin: 0 auto;
      background-color: #e6e6e6;
      padding-top: 11px;
      margin-bottom: 7px;
      .close {
        display: none;
      }
      .banner {
        .video-wrap {
          width: 100%;
          // margin: 0; BB 02/22/17
          margin-bottom: 11px;
        }
        .img {
          width: 100%;
          margin: 0;
          img {
            width: 100%;
            height: auto;
          }
        }
        .text {
          background: #ad172b;
          // border: solid 1px #e6e6e6; BB 02/22/17
          margin: 0 0 20px;
        }
        .heading {
          font-family: "Gotham A", "myriad-pro", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 34px;
          color: #a6a8ab;
          text-transform: uppercase;
          line-height: 1.299951620706338;
          letter-spacing: 0.115em;
          position: relative;
          display: block;
          padding: 0;
          margin: 34px 19.76401179941003% 12px 9.43952802359882%;
          &:after {
            width: 100%;
            height: 6px;
            background: #a6a8ab;
            content: " ";
            position: absolute;
            left: -1px;
            bottom: -6px;
            display: block;
          }
        }
        .connect {
          font-family: "Gotham A", "myriad-pro", sans-serif;
          font-style: normal;
          font-weight: 700;
          color: #fff;
          font-size: 34px;
          letter-spacing: 0.115em;
          padding: 0;
          margin: 12px 10px 28px 9.43952802359882%;
        }
        .quote {
          color: #fff;
          font-size: 24.69px;
          line-height: normal;
          font-style: italic;
          width: 100%;
          span {
            display: block;
            position: relative;
            padding: 30px 24px 30px 34px;
            text-align: center;
            &:before,
            &:after {
              width: 36px;
              height: 26px;
              display: block;
              content: " ";
              background-size: cover;
              margin-left: auto;
              margin-right: auto;
            }
            &:before {
              background-image: url(images/quote-1.png);
              margin-bottom: 10px;
            }
            &:after {
              background-image: url(images/quote-2.png);
              margin-top: 10px;
            }
          }
        }
      }
      .main {
        padding: 0 14px;
        .name {
          margin: 0 0 5px;
          font-weight: bold;
        }
        .dept {
          font-style: italic;
        }
        p {
          line-height: 24px;
        }
      }
      .sidebar {
        padding: 0 14px;
        // margin: 0 0 30px; BB 02/22/17
        h4 {
          margin-bottom: 5px;
        }
        ul {
          list-style: none;
          padding-left: 0;
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 0;
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
    .item-profile.open:before {
      font-family: 'fontello';
      content: '\e822';
      background-color: #ac2b37;
      color: #fff;
      // background-image: url(images/icon-x.png); BB 02/22/17
    }
    .profile-full .banner {
      .video-wrap {
        position: relative;
        // margin: 0; BB 02/22/17
      }
      .video-meta {
        display: none;
      }
      .video-meta-mob {
        display: block;
        margin: 0 0 20px;
        width: 100%;
        text-align: center;
        padding: 8px 0;
        color: #000;
        font-size: 14px;
        background: #717171;
        br {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1120px) {
  #content .profiles .banner .heading {
    font-size: 41.34px;
  }
}

@media screen and (min-width: 1120px) {
  #content .profiles .banner .connect {
    font-size: 41.34px;
  }
}

@media screen and (min-width: 701px) {
  .hide-on-desktop {
    display: none !important;
  }
}


/**********************************************
/*     FOOTER                                 *
/**********************************************/

#footer {
  width: 100%;
  float: left;
  position: relative;
  background: #231f20;
  border-bottom: solid 10px #c32133;
  .wrap {
    padding: 26px 0;
  }
  p {
    margin: 0;
    color: #fff;
    float: left;
    line-height: 23px;
  }
  .socials {
    float: right;
    width: 192px;
    text-align: center;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    span {
      display: block;
      color: #fff;
      font-weight: 700;
      margin: 0 0 10px;
    }
    a {
      float: left;
      width: 50px;
      height: 0;
      padding: 50px 0 0;
      background: #c32133;
      display: block;
      overflow: hidden;
      margin: 0 20px 0 0;
      background: url(images/socials.png) no-repeat;
    }
    .social-2 {
      background-position: -50px 0;
    }
    .social-3 {
      margin: 0;
      background-position: -100px 0;
    }
  }
}


/**********************************************
/*     RESPONSIVE                             *
/**********************************************/

@media screen and (max-width: 1330px) {
  #content .profiles .close {
    // right: -40px; BB 

  }
}

@media screen and (max-width: 1140px) {
  #content .profiles .close {
    right: 6px;
    // top: -40px; BB 

  }
}

@media screen and (max-width: 1120px) {
  .wrap {
    width: 90%;
  }
  #header .wrap {
    padding: 32px 0;
  }
  #content {
    .grid-list .item {
      height: auto;
      .text {
        line-height: normal;
        height: auto;
        h5 {
          font-size: 23px;
        }
      }
      // .caption { BB 02/22/17
        // bottom: -150px; BB 02/22/17
      // } BB 02/22/17
    }
    .profiles {
      .banner {
        .img,
        .video-wrap {
          width: 66%;
          height: auto;
        }
        .quote,
        .text {
          width: 34%;
          height: auto;
        }
        .quote {
          font-size: 22px;
          line-height: 1.1;
        }
      }
      .main {
        // width: 66%;
      }
      .sidebar {
        width: 31.4%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrap {
    width: 85%;
  }
  #content {
    .grid-list {
      .item .caption {
        .inner {
          padding: 4px 12px 2px;
        }
        h4 {
          font-size: 31px;
          // border-bottom-width: 1px;
          line-height: 1;
        }
        .title {
          font-size: 15px;
        }
      }
      .item-profile:before {
        padding: 6px 8px;
        // width: 26px; BB 02/22/17
        // height: 26px; BB 02/22/17
        font-size: 10px;
      }
    }
    .profiles .banner {
      .heading {
        font-size: 30px;
        /* old */
        font-size: 2.68vw;
        padding-bottom: 3px;
        margin-top: 15px;
      }
      .connect {
        color: #fff;
        font-size: 30px;
        /* old */
        font-size: 2.68vw;
        line-height: 30px;
      }
      .quote {
        font-size: 23px;
        line-height: 1.4;
        span {
          display: block;
          position: relative;
          padding: 0 24px 30px;
          &:after {
            width: 28px;
            height: 21px;
            background-size: cover;
            margin: 20px auto 0;
          }
          &:before {
            width: 28px;
            height: 21px;
            background-size: cover;
            top: -18px;
          }
        }
      }
    }
  }
  #black {
    .inner {
      max-width: 100%;
      float: left;
      padding: 0 150px 0 0;
    }
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 14px;
      line-height: 19px;
    }
    .btn {
      width: 114px;
      height: 34px;
      line-height: 34px;
      font-size: 11px;
      margin-top: -17px;
    }
  }
}

@media screen and (max-width: 980px) {
  #header {
    .logo {
      width: 124px;
      top: 22px;
      a {
        width: 124px;
        padding-top: 41px;
        background-size: cover;
      }
    }
    .tagline {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 780px) {
  #header {
    .logo {
      width: 124px;
      top: 22px;
      a {
        width: 124px;
        padding-top: 41px;
        background-size: cover;
      }
    }
    .tagline {
      font-size: 16px;
    }
  }
  #content {
    .grid-list {
      .item-profile {
        // padding-bottom: 50px;
        // overflow: visible;
      }
      .item .caption {
        // bottom: 0; BB 02/22/17
        // background: #fff; BB 02/22/17
        // box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.1); BB 02/22/17
        // h4,
        // .title {
          // color: #666;  BB 02/22/17
        // }
      }
    }
    .profiles .banner {
      .connect,
      .heading {
        font-size: 24px;
        /* old */
        font-size: 2.14vw;
      }
      .quote {
        font-size: 16px;
      }
    }
    .grid-list .item-logo img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 730px) {
  #header .tagline {
    font-size: 16.5px;
  }
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
  #header {
    .wrap {
      padding: 22px 0;
    }
    .tagline strong {
      display: block;
    }
  }
  #content {
    .wrap {
      padding: 52px 0;
    }
    .grid-list {
      .item {
        width: 325px;
        margin: 0 auto 10px;
        float: none;
        &.open {
          margin-bottom: 0;
          .caption {
            display: block;
            opacity: 1;
            background-color: rgba(black, 0.4);
          }
          img {
            // filter: blur(7px);
          }
        }
      }
      .profile-full {
        .banner .video-meta-mob {
          margin-bottom: 0;
        }
        .close-profile {
          display: block;
        }
        .sidebar {
          h4 {
            font-size: 17px;
          }
        }
      }
      .item {
        .text {
          position: relative;
          float: none;
        }
        img.blank {
          display: none !important;
        }
        .caption .inner {
          // padding: 10px 14px; BB 02/22/17
        }
        .text h5 {
          font-size: 18px;
          padding: 12px 5%;
          display: block;
        }
      }
      .item-logo {
        display: none;
      }
      .item-logo-mob {
        display: block;
      }
    }
    .profiles {
      display: none !important;
    }
  }
  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 620px) {
  #footer {
    .wrap {
      padding: 32px 0 36px;
    }
    p {
      font-size: 17px;
      text-align: center;
      float: none;
      margin: 0 0 24px;
    }
    .socials {
      float: none;
      text-align: center;
      margin: 0 auto;
      width: 192px;
      text-align: center;
      margin: 0 auto;
      clear: both;
    }
  }
}

@media screen and (max-width: 500px) {
  #black {
    .inner {
      padding: 0;
      max-width: 100%;
      float: none;
      margin: 0 0 30px;
    }
    .btn {
      position: relative;
      margin: 0 auto;
      top: 0;
      clear: both;
      float: none;
    }
  }
  #header {
    .wrap {
      padding: 36px 0;
    }
    .tagline {
      text-align: center;
      margin: 0 0 28px;
    }
    .logo {
      float: none;
      position: relative;
      margin: 0 auto;
      top: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  #content .grid-list {
    .profile-full,
    .item {
      width: 100%;
    }
  }
}
