.the-button,
[type='button'].the-button,
[type='reset'].the-button,
[type='submit'].the-button,
button.the-button {
	@include reset_button;
	display: inline-block;
	padding: 10px 24px;

	font-size: 16px;
	letter-spacing: 1.2px;
	font-family: $font2;
	font-weight: $fw-semibold;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none !important;
	background: $blue;
	border: 3px solid $blue;

	&:hover,
	&:focus {
		background: transparent;
		color: $primary_color;
	}

	&.lined {
		background: transparent;
		color: $blue;
		&:hover,
		&:focus {
			background: $blue;
			color: #fff;
		}
	}

	&.wpi-red {
		background: $wpi-red;
		border: 3px solid $wpi-red;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $wpi-red;
			&:hover,
			&:focus {
				background: $wpi-red;
				color: #fff;
			}
		}
	}
	&.black {
		background: $black;
		border: 3px solid $black;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $black;
			&:hover,
			&:focus {
				background: $black;
				color: #fff;
			}
		}
	}
	&.navy-blue {
		background: $navy-blue;
		border: 3px solid $navy-blue;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $navy-blue;
			&:hover,
			&:focus {
				background: $navy-blue;
				color: #fff;
			}
		}
	}
	&.purple {
		background: $purple;
		border: 3px solid $purple;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $purple;
			&:hover,
			&:focus {
				background: $purple;
				color: #fff;
			}
		}
	}
	&.green {
		background: $green;
		border: 3px solid $green;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $green;
			&:hover,
			&:focus {
				background: $green;
				color: #fff;
			}
		}
	}
	&.gray {
		background: $gray;
		border: 3px solid $gray;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $gray;
			&:hover,
			&:focus {
				background: $gray;
				color: #fff;
			}
		}
	}
	&.orange-red {
		background: $orange-red;
		border: 3px solid $orange-red;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $orange-red;
			&:hover,
			&:focus {
				background: $orange-red;
				color: #fff;
			}
		}
	}
	&.yellow {
		background: $yellow;
		border: 3px solid $yellow;
		&:hover,
		&:focus {
			background: transparent;
		}

		&.lined {
			background: transparent;
			color: $yellow;
			&:hover,
			&:focus {
				background: $yellow;
				color: #fff;
			}
		}
	}

	&.fg-white {
		color: $white;

		&:hover,
		&:focus {
			color: $black;
		}
	}
	&.fg-black {
		color: $black;
	}
}

@include mq_up($md) {
	.the-button {
		font-size: 18px;
	}
}
// mq_up_md
