.home-banner {
	position: relative;
	border-bottom: 1px solid #eeeeee;
	.gradient-shade {
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 120px;
		background: -moz-linear-gradient(
			top,
			rgba(0, 0, 0, 0.65) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		background: -webkit-linear-gradient(
			top,
			rgba(0, 0, 0, 0.65) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.65) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
	}
	.hero-image-wrapper {
		position: relative;
		z-index: 0;
		width: 100%;
		img.bg {
			width: 100%;
			//height: 210px;
			object-fit: cover;
			object-position: center;
		}
	}
	span.wpi-tag {
		position: absolute;
		z-index: 50;
		bottom: -5px;
		right: 0px;
		//width: 185px;
		width: 100px;
		img {
			width: 100%;
		}
	}
	.caption {
		position: relative;
		z-index: 2;
		.wrapper {
			padding: 18px 0px 36px 0px;
			.the-title {
				font-family: $font2;
				font-weight: $fw-bold;
				font-size: 36px;
				line-height: 42px;
				margin-bottom: 14px;
				margin-right: 10px;
			}
			.the-desc {
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 0px;

				& + .post-meta {
					margin-top: 20px;
				}
			}

			.post-meta {
				margin-top: 5px;
				font-size: 15px;
				span {
					margin-right: 5px;
					color: $navy-blue;
				}
				a {
					color: $blue;
					font-weight: $fw-bold;
				}
			}

			.the-button {
				margin-top: 18px;

				&:hover,
				&:focus {
					color: #fff;
				}
			}

			ul.socialmedia-share {
				@include reset_ul;
				@include flex-start;
				align-items: center;
				margin-top: 30px;
				li.label {
					font-size: 16px;
					letter-spacing: 1px;
					font-family: $font2;
					font-weight: $fw-semibold;
					text-transform: uppercase;
					margin-right: 14px;
					color: $navy-blue;
				}
				li {
					margin-right: 12px;
					a {
						display: inline-block;
						text-decoration: none;
						position: relative;
						span.the-text {
							display: inline-block;
							position: absolute;
							@include horizontal-align;
							top: 80%;
							margin: 7px 0 0 0;
							font-size: 14px;
							font-family: $font2;
							color: #fff;
							background: $navy-blue;
							border-radius: 2px;
							padding: 0.3em 0.8em;
							white-space: nowrap;
							@include transition;
							@include hidden;
							box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);

							&::after {
								content: '';
								display: block;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0px 5px 7px 5px;
								border-color: transparent transparent $navy-blue transparent;

								position: absolute;
								top: -7px;
								left: 50%;
								margin-left: -4px;
							}
							@media only screen and (min-width: $md) {
								left: 80%;
								color: $black;
								background: #fff;
								margin: 0 0 0 7px;
								@include vertical-align;
								&::after {
									border-width: 5px 7px 5px 0px;
									left: -7px;
									top: 9px;
									border-color: transparent #fff transparent transparent;
									margin: 0;
								}
							}
						}
						svg {
							width: 36px;
							height: 36px;
							circle {
								stroke: $navy-blue;
							}
							path {
								fill: $black;
							}
						}

						&:hover,
						&:focus {
							span.the-text {
								top: 100%;
								@include visible;
								@media only screen and (min-width: $md) {
									top: 50%;
									left: 100%;
								}
							}
						}
					}

					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
	}

	&.no-hero-image {
		margin-top: 72px;

		.caption {
			.wrapper {
				padding-top: 40px;

				.the-desc {
					font-size: 16px;
					line-height: 24px;
				}

				.the-button {
					&:hover,
					&:focus {
						color: $yellow;
					}
				}
			}
		}
	}
}

//@include mq_up($md) {
@media only screen and (min-width: $md) {
	.home-banner {
		min-height: 574px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		span.wpi-tag {
			width: 185px;
			bottom: -10px;
		}
		.gradient-shade {
			height: 240px;
		}
		.hero-image-wrapper {
			position: absolute;
			left: 0px;
			top: 0px;
			height: 100%;
			img.bg {
				height: 100%;
			}
		}
		.caption {
			width: 100%;
			padding-top: 200px;
			.wrapper {
				width: 100%;
				max-width: 592px;
				min-height: 280px;
				background-color: rgba(#000, 0.6);
				color: #fff;
				position: relative;
				padding: 30px 30px 30px 83px;

				&::before {
					content: '';
					position: absolute;
					top: 0px;
					bottom: 0px;
					right: 100%;
					width: 100vw;
					background-color: rgba(#000, 0.6);
				}

				.the-title {
					font-size: 48px;
					line-height: 60px;
					margin-bottom: 16px;
					margin-top: 3px;
				}
				.the-desc {
					font-size: 21px;
					line-height: 30px;
					& + .post-meta {
						margin-top: 20px;
					}
				}

				.post-meta {
					margin-top: 5px;
					font-size: 15px;
					span {
						color: $white;
					}
					a {
						color: $white;
						text-decoration: underline;

						&:hover,
						&:focus {
							text-decoration: none;
						}
					}
				}

				.the-button {
					margin-top: 28px;
					margin-bottom: 0px;
				}

				ul.socialmedia-share {
					@include reset_ul_block;
					text-align: center;
					position: absolute;
					left: 0px;
					top: 30px;
					li.label {
						margin-right: 0px;
						margin-bottom: 17px;
						color: #fff;
					}
					li {
						margin-right: 0px;
						margin-bottom: 15px;
						a {
							svg {
								width: 48px;
								height: 48px;
								circle {
									stroke: rgba(#fff, 0.6);
									@include transition;
								}
								path {
									fill: #fff;
								}
							}

							&:hover,
							&:focus {
								svg {
									circle {
										stroke: #fff;
									}
								}
							}
						}

						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
			}
		}

		&.no-hero-image {
			margin-top: 120px;
			min-height: 0px;

			.caption {
				padding-top: 0px;
				position: relative;
				.wrapper {
					background: transparent;
					color: $black;
					padding-top: 40px;
					max-width: 700px;

					&::before {
						display: none;
					}

					.the-title {
						margin-top: -10px;
					}

					.the-desc {
						font-size: 21px;
						line-height: 30px;
					}

					.post-meta {
						span {
							color: $navy-blue;
						}
						a {
							color: $blue;
						}
					}

					ul.socialmedia-share {
						li.label {
							color: $navy-blue;
						}
						li {
							a {
								svg {
									circle {
										stroke: rgba($navy-blue, 0.6);
									}
									path {
										fill: $navy-blue;
									}
								}
								span.the-text {
									background-color: rgba(5, 66, 100, 0.6);
									color: #fff;
									&::after {
										border-color: transparent transparent transparent
											rgba(5, 66, 100, 0.6);
									}
								}

								&:hover,
								&:focus {
									svg {
										circle {
											stroke: $navy-blue;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// mq_up_md

//@include mq_up($lg) {
@media only screen and (min-width: 1440px) {
	.home-banner {
		min-height: 600px;
		/* img.bg {
			height: 600px;
		} */
		.caption {
			.wrapper {
				max-width: 740px;
				min-height: 300px;
				padding: 26px 30px 30px 120px;
				margin-left: -117px;
				.the-title {
					font-size: 70px;
					line-height: 78px;
					margin-top: 12px;
					margin-bottom: 26px;
				}
				.the-desc {
				}
				.the-button {
					//margin-top: 28px;
				}
			}
		}

		&.no-hero-image {
			margin-top: 140px;

			.caption {
				.wrapper {
					max-width: 1000px;
				}
			}
		}
	}
}
// mq_up_lg
