.pagination-links {
	a,
	span.current {
		display: inline-block;
		text-decoration: none;
		min-width: 30px;
		height: 30px;
		line-height: 30px;
		padding: 0px 10px;
		margin: 0px 2px;
		background: transparent;
		margin-bottom: 36px;
		font-family: $font2;
		color: $black;

		&:hover,
		&:focus {
			background: $blue;
			color: $white;
		}
	}

	span.current {
		background: $blue;
		color: $white;
	}
}

@include mq_up($md) {
	.pagination-links {
		a,
		span.current {
			height: 40px;
			min-width: 40px;
			line-height: 40px;
		}
	}
}
// mq_up_md
