.the-activity {
	margin-bottom: 28px;
	a.the-thumb {
		display: block;
		text-decoration: none;
		position: relative;
		margin-bottom: 21px;
		img {
			width: 100%;
			height: auto;
			position: relative;
			z-index: 0;
		}
		span.section-tag {
			position: absolute;
			z-index: 2;
			top: 0px;
			left: 0px;
			display: block;
			height: 27px;
			line-height: 27px;
			font-family: $font2;
			font-weight: $fw-bold;
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: 1px;
			padding: 0px 7px;
		}
		.overlay {
			display: block;
			position: absolute;
			z-index: 1;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.3);

			.play-button {
				display: block;
				width: 72px;
				height: 72px;
				line-height: 72px;
				text-align: center;
				background-color: #fff;
				border-radius: 50%;
				.icon-play-triangle {
					font-size: 24px;
					color: $wpi-red;
					margin-left: 8px;
				}
			}
		}
	}

	.the-title {
		font-weight: $fw-bold;
		font-size: 27px;
		line-height: 33px;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 7px;
	}

	.the-desc {
		margin-bottom: 20px;
		font-size: 15px;
		p {
			font-size: inherit;
			line-height: inherit;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	.post-meta {
		margin-bottom: 5px;
		font-size: 15px;
		letter-spacing: 1px;
		span {
			margin-right: 5px;
		}
		a {
			color: $blue;
			font-weight: $fw-bold;
			letter-spacing: 0px;
		}

		&.spsr-box {
			img {
				max-width: 150px;
			}
		}
	}

	a.view-activity {
		display: inline-block;
		font-size: 18px;
		padding-top: 8px;
		&:hover,
		&:focus {
			color: $wpi-red;
			text-decoration: underline;
		}
	}
}
.home-banner + .the-activity {
	margin-top: 36px;
}

@include mq_up($md) {
	.the-activity {
		margin-bottom: 36px;
		.col-thumb {
			flex: 0 0 45%;
			max-width: 45%;
		}
		.col-details {
			flex: 0 0 55%;
			max-width: 55%;
		}

		.the-title {
			font-size: 30px;
			line-height: 42px;
			margin-bottom: 12px;
		}

		a.the-thumb .overlay .play-button {
			width: 90px;
			height: 90px;
			line-height: 90px;
		}
		.the-desc {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
		}

		.post-meta {
			margin-bottom: 5px;
			font-size: 16px;
			span {
				margin-right: 5px;
			}

			&.spsr-box {
				img {
					margin-left: 10px;
				}
			}
		}

		a.view-activity {
			font-size: 18px;
			padding-top: 8px;
		}
	}
	.home-banner + .the-activity {
		margin-top: 60px;
	}
}
// mq_up_md

@include mq_up($lg) {
	.the-activity {
		.col-thumb {
			flex: 0 0 45%;
			max-width: 45%;
		}
		.col-details {
			flex: 0 0 55%;
			max-width: 55%;
		}

		.the-title {
			font-size: 36px;
			line-height: 48px;
			margin-bottom: 12px;
		}

		.the-desc {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
		}

		.post-meta {
			margin-bottom: 5px;
			font-size: 16px;
			span {
				margin-right: 5px;
			}
		}

		a.view-activity {
			font-size: 18px;
			padding-top: 8px;
		}
	}

	.home-banner + .the-activity {
		margin-top: 72px;
	}
}
// mq_up_lg
