/* IE Only Responsive */
.mobile {
  display: none;
}
#mobile-menu {
	display: none !important;
}

section,
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding: 0 15px;
}
.c1 img, .c2 img, .c3 img, .c4 img, .c5 img, .c6 img, .c7 img, .c8 img, .c9 img, .c10 img, .c11 img, .c12 img {
  max-width: 100%;
}

section {
  width: 1040px;
  clear: both;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
section.padless .c1, section.padless .c2, section.padless .c3, section.padless .c4, section.padless .c5, section.padless .c6, section.padless .c7, section.padless .c8, section.padless .c9, section.padless .c10, section.padless .c11, section.padless .c12 {
  padding: 0;
}
section.marginless {
  margin: 0;
}
section:after {
  content: " ";
  display: block;
  clear: both;
}

.c2 {
  width: 16.66667%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 33.33333%;
}

.home #research-centers .callout .c4 {
  margin-left: 100px;		/*EKG: Added CMPD 10-5-16 */  
  padding-bottom: 10px;		/*EKG: Added CMPD 10-5-16 */  
  height: 75px;				/*EKG: Added CMPD 10-5-16 */
}

.c5 {
  width: 41.66667%;
}

.c6 {
  width: 50%;
}

.c7 {
  width: 58.33333%;
}

.c8 {
  width: 66.66667%;
}

.c9 {
  width: 75%;
}

.c10 {
  width: 83.33333%;
}

.c11 {
  width: 91.66667%;
}

.c12 {
  width: 100%;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 1100
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 1100px) {

  #mobile-menu {
	display: block !important;
  }
	
  section {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero{
    padding-left: 30px;
    padding-right: 30px;
  }
  body.home .cycle-slide > img{
    left: -10%;
  }

  .home .callout.say .person {
    width: 40%;
  }
  .home .callout.say .content {
    width: 60%;
  }

  header nav {
    bottom: 0px;
  }

  #menu-main > li > a {
    padding: 2px 12px;
  }
  #menu-main > li > a:after {
    bottom: -5px;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 960
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 960px){
  .home #research-centers .callout .c4{
    width: 33%;
    margin-left: 70px;	/*EKG: Added CMPD 10-5-16 */
  }
  .hero.imaged{height: 400px;}
  .hero.imaged header{height: 400px;}

  .mobile {
    display: block;
  }

  .tablet-plus {
    display: none;
  }

  .home .callout.say .wrap div {
    width: 100%;
  }
  .home .callout.say .wrap .meta {
    width: auto;
    margin-bottom: 30px;
  }

  .home #the-content .content {
    padding-left: 0;
    border: none;
  }

  .callout.centers .center {
    width: 100%;
  }
  .callout.centers .center img {
    width: 100%;
  }

  header .icons {
    margin-top: 25px;
  }

  header .logo {
    width: 100%;
    text-align: center;
  }

  header .icons {
    width: 100%;
    text-align: center;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 800
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 800px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11 {
    width: 50%;
  }
  #the-content article.main, #the-content aside.main,
  #sidebar_home .widget, #the-content aside#sidebar_home .widget{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  header .icons{margin-bottom: 0;}
  header .icons img{margin-bottom: 30px;}
  aside.main{
    border-left: none !important;
    margin-top: 30px;
  }
  aside.main.equalized{
    height: auto !important;
    border-left: none;
  }  
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 800 MIN
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (min-width: 800px) {
  #body-wrap {
    left: 0;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 760
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 760px) {
  .home #research-centers .callout .c4{
    width: 50%;
	margin-left: 0;
  }
  .home #research-centers .callout .c4 + .c4 + .c4{
    width: 50%;
	margin-left: 0;
  }
  .home #research-centers .callout .c4 + .c4 + .c4 img{
    width: 100%;
  }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 600
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 600px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 100%;
  }
  .home #research-centers .callout .c4 {width: 100%; margin-bottom: 50px; margin-left: 0; }  
  .home #research-centers .callout .c4 img { width: 75%; }
  .home #research-centers .callout .c4 + .c4 + .c4{margin-top: 0; width: 100%;}	
  .home #research-centers .callout .c4 + .c4 + .c4 img { width: 75%; }
  
  .portfolio-thumb header img{
    height: 130px;
    max-width: inherit;
    width: 100%;
  }

  .front-page.cycle-slideshow, .home .hero {
    height: 400px;
  }
  .front-page.cycle-slideshow > div {
    height: 400px;
  }
  .hero.imaged{
    height: 400px;
  }

  footer.main .wrap {
    float: left;
    text-align: left;
  }

  header .logo img {
    max-width: 200px;
  }

  .front-page.cycle-slideshow .content {
    font-size: 14px;
    line-height: 16px;
  }

  #the-content article.main {
    padding-right: 0;
  }
  .home #the-content aside.main {
    padding-left: 0;
    margin-bottom: 0;
  }
  .home #the-content .c4.person{
    margin-bottom: 0;
  }

  blockquote.testimonial .meta{
    float: none;
    display: block;
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
  }
  blockquote.testimonial .meta img{float: left;}
  blockquote.testimonial .clear.first{display: block;}
  
  .half { width: 100%; }
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| 445
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@media screen and (max-width: 445px) {
  .home #research-centers .callout .c4 {width: 100%; margin-bottom: 10px; }  
  .home #research-centers .callout .c4 img { width: 100%; }
  .home #research-centers .callout .c4 + .c4 + .c4 img { width: 100%; }
  
  .portfolio-thumb header{
    height: 130px;
  }
  .portfolio-thumb header img{
  width: 100%;
  height: auto;
  max-width: inherit;
  }
  table td{
    display: block;
  }
  table td:after{
    content: ' ';
    clear: both;
    display: block;
  }
}