*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clear,
.clearfix:after {
	clear: both;
}

a {
	color: $color-link-default;
	text-decoration: none;
}

.container {
	width: $container-desktop;
	margin: 0 auto;
	position: relative;
}

body {
	background: $body-background;
	font-family: $font-family-default;
	color: $color-default;
	font-size: $font-size-default;
	line-height: $line-height-default;
}

#header,
#main,
#footer {
	position: relative;
	z-index: 2;
}
#header {
	z-index: 9;
}

img {
	max-width: 100%;
	height: auto;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	background: #fff;
	border: 1px solid #414042;
	width: 100%;
	font-family: inherit;
	font-size: 16px;
	padding: 3px 12px;
	line-height: $line-height-default;
	vertical-align: top;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading-default;
	font-weight: 700;
}

