$gutter: 20px;

@media (max-width: 1200px) {
	.bg-header-right {
		background-position: right bottom;
		width: 473px;
		height: 175px;
		background-image: url(images/triangle-top-1200px.png);
	}
	.bg-header-right-bottom {
		display: none;
	}
	.header-right {
		padding: 20px 20px 0px 0px;
	}
	#logo {
		width: 165px;
	}
}

@media (max-width: $container-desktop) {
	.container {
		width: auto;
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

@media (min-width: 981px) {
	#nav {
		display: block !important;
	}
	.ee-inner {
		display: block !important;
	}
}

@media (max-width: 980px) {
	
	.bg-header-left {
		background: url(images/bg_header_left_mobile.png) left top no-repeat;
		height: 158px;
	}
	.wpi-logo {
		padding: 21px 0 0 25px;
	}
	
	#show-menu {
		background: url(images/menu@2x.png) no-repeat;
		background-size: 44px 18px;
		display: block;
		width: 45px;
		height: 19px;
		margin: 19px 0 0 26px;
	}
	.ie8 #show-menu { background-image: url(images/menu.png); }
	#nav {
		padding: 8px 0;
		position: absolute;
		width: 195px;
		background: #ffffff;
		top: 145px;
		left: 25px;
		z-index: 99;
		display: none;
		
		li {
			float: none;
			padding: 4px 5px 4px 36px;
			a {
				color: #AD2839
			}
		}
		li.current-active-nav {
			background: url(images/active_mobile.png) 9px center no-repeat;
		}
		&:before {
			content: ' ';
			background: url(images/arrow_up.png) no-repeat;
			width: 21px;
			height: 15px;
			position: absolute;
			top: -15px;
			left: 14px;
		}
	}
	
	.header-left-top {
		min-height: 155px;
	}
	.header-left-bottom {
		padding-left: 13px;
		width: 500px;
	}	
	.hlb-nav {
		-moz-transform: rotate(-4deg);  /* FF3.5/3.6 */
		-o-transform: rotate(-4deg);  /* Opera 10.5 */
		-webkit-transform: rotate(-4deg);  /* Saf3.1+ */
		transform: rotate(-4deg);  /* Newer browsers (incl IE9) */
		
		li {
			min-width: 100px;
		}
	}
	
	
	.header-right {
		padding: 20px 23px 0 0;
	}
	
	.section-title {
		padding-right: 5px;
	}
	
	.episodes-container {
		width: auto;
	}
	.episodes-thumb-wrap {
		margin: 0;
	}
	.episode-entry {
		padding-left: 5px;
		padding-right: 5px;
		float: none;
		width: auto;
	}
	.et-vid {
		height: auto;
	}
	.et-vid img.youtube-thumbnail {
		top: 0;
		height: auto;
	}
	
	#main-video {
		display: none;
	}
	.vid-mobile-wrap {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 999;
		top: 0;
		left: 0;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	.et-vid-desc {
		font-size: 14px;
		font-family: $font-family-default;
		line-height: 1.214;
		text-align: center;
		padding: 5px 20px 10px;
	}
	.et-vid-desc .video-desc-title {
		font-size: 22px;
		font-style: italic;
	}
	.evd-mobile {
		display: block;		
	}
	.evd-desktop {
		display: none;
	}
	.evd-heading {
		padding: 0;
		h3.video-desc-title {
			padding: 0;
			margin: 0;
			color: #ffffff;
			text-align: left;
		}
		a {
			background: #BDC440;
			display: block;
			padding: 10px 40px 10px 20px;
			color: #ffffff;
			position: relative;
		}
		.vdt-icon {
			background: url(images/plus_min@2x.png) no-repeat;
			background-size: 70px 22px;
			width: 21px;
			height: 22px;
			display: block;
			position: absolute;
			top: 11px;
			right: 15px;
		}
		.ie8 .vdt-icon { background-image: url(images/plus_min.png); }
		a.active-vdt .vdt-icon {
			background-position: right top;
		}
	}
	.ee-inner {
		display: none;
	}
	.evd-mobile-desc {
		padding: 20px 20px 30px;
	}
	.ee-1 {
		.ee-inner {
			display: block;
		}
		.et-vid {
			margin-bottom: 22px;
		}
		.et-vid-desc {
			background: #EF985E;
			text-align: left;
		}
		.et-vid-desc .video-desc-title span {
			color: #75CDDD;
		}
		.evd-mobile {
			display: none;
		}
		.evd-desktop {
			display: block;
		}
	}
	
	
	.section-cast {
		padding-top: 45px;
	}
	.cast-member {
		float: none;
		width: auto;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.cast-decor, .ac-decor {
		position: static;
		padding-bottom: 30px;
	}
	
	.container-about {
		margin-top: 50px;
	}
	.about-left {
		padding-bottom: 20px;
	}
	.about-left, .about-right {
		width: auto;
		float: none;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.the-content {
		font-size: 15px;
	}
	.content-find-out-more {
		padding-top: 50px;
	}
	.contact-form {
		margin-top: 30px;
		border: 0;
		background: transparent;
	}
	.the-content .form-heading, .form-heading {
		padding: 9px 20px 18px;
		font-size: 37px;
	}
	.fields-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	.form-column-left, .form-column-right {
		float: none;
		width: auto;
	}
	.contact-form input[type="text"], .contact-form input[type="email"] {
		margin-bottom: 5px;
	}
	.contact-form .form-radio label {
		font-size: 20px !important;
		padding: 10px 0 9px;
		text-align: left;
	}
	.form-radio {
		text-align: center;
	}
	.contact-form .submit-wrap {
		text-align: center;
	}
	div.wpcf7-response-output {
		padding: 30px 20px;
		text-align: center;
		margin-top: 35px;
	}
	.section-find-out-more div.wpcf7-mail-sent-ok {
		padding-right: 20px;
	}
	div.wpcf7-response-output .button {
		top: auto;
		bottom: -70px;
		left: 50%;
		margin-left: -98px;
		right: auto;
	}
	
	.section-find-out-more span.wpcf7-not-valid-tip {
		margin: 0 0 10px;
	}
	
}

@media (max-width: 800px) {
	#footer {
		background: url(images/bg_footer_mobile.png) left top no-repeat;
		background-size: 100% 100%;
		min-height: 275px;
	}	
	.footer-bg-left,
	.footer-bg-right {
		display: none;
	}
	.footer-left,
	.footer-right {
		width: 50%;
	}
	.footer-social {
		float: right;
		padding-top: 0;
	}
	.container-footer {
		padding-top: 100px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.footer-copyright {
		margin: 0;
		padding: 10px 0;
	}
	.footer-logo {
		padding-bottom: 18px;
		img {
			max-width: 120px;
		}
	}
	.footer-social {
		max-width: 141px;
		margin-right: -13px;
	}
	.footer-social h3 {
		padding-right: 13px;
	}
	.footer-social a  {
		font-size: 9px;
		margin-right: 13px;
	}
	.footer-social a img  {
		width: 34px;
	}
}

@media (max-width: 680px) {
	.bg-header-right {
		width: 297px;
		height: 110px;
	}
	.header-right {
		padding: 10px 13px 0 0;
	}
	#logo {
		width: 113px;
	}
	.wpi-logo {
		padding: 16px 0px 0px 15px;
		width: 134px;
	}
	#show-menu {
		margin-left: 16px;
	}
	.bg-header-left {
		background-position: left bottom;
		height: 123px;
	}
	.header-left-top {
		min-height: 120px;
	}
	.hlb-nav li {
		min-width: 0;
		a {
			padding: 0px 10px 3px;
		}
	}
	.section-page:first-child {
		padding-top: 176px;
	}
	.episodes-container {
		padding-top: 25px;
	}
	
	
	.container-about-bg {
		display: none;
	}
	.about-banner-wrap {
		margin: 0 -20px;
	}
	.about-banner {
		background: url(images/bg_banner_mobile.png) center top no-repeat;
		position: relative;
		padding: 0;
		margin: 0 auto;
		max-width: 443px;
		height: 331px;
	}
	.banner-image {
		width: 157px;
		padding: 0;
		float: none;
		position: absolute;
	}
	.bi-1 {
		z-index: 9;
		top: 26px;
		left: 32px;
	}
	.bi-2 {
		z-index: 7;
		top: 121px;
		left: 152px;
	}
	.bi-3 {
		z-index: 5;
		top: 74px;
		right: 15px;
	}
	.contact-form textarea {
		height: 90px;
		margin-bottom: 20px;
	}
}

@media (max-width: 600px) {
	#wpadminbar {
		position: fixed !important;
	}
}

@media (max-width: 480px) {
	.about-banner-wrap {
		margin: 0;
	}
	.about-banner {
		height: auto;
		max-width: none;
		padding: 20px 5px 0;
	}
	.banner-image {
		float: none;
		text-align: center;
		width: auto;
		position: static;
		padding: 0 0 25px;
	}
	.cast-member,
	.about-left, .about-right {		
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media (max-width: 479px) {
	.wpi-logo {
		padding-top: 36px;
		width: 100px;
	}
	#show-menu {
		margin-top: 12px;
	}
}

@media (max-width: 420px) {
	.contact-form .fields-wrap .half {
		width: auto;
		float: none;
	}
	.contact-form textarea {
		height: 117px;
	}
	
	#footer {
		background: transparent;
		
		.container-footer {
			padding: 20px 0 0;
		}
		.footer-left, .footer-right {
			width: auto;
			float: none;			
			padding: 20px 20px;
		}
		.footer-left {
			background: #BCC440;
			text-align: center;
			ul {
				margin-left: 10px;
			}
			li {
				width: 48%;
				&:first-child {
					text-align: right;
				}
				&:last-child {
					text-align: left;
				}
			}
		}
		.footer-right {
			background: #F8D74D;
			.footer-social {
				margin: 0 auto;
				float: none;
			}
		}
		.footer-copyright {
			background: #F8D74D;
		}
	}
}
