
$color-red:             #AC2B37;

$color-d-green:         #5C6A0F;
$color-d-blue:          #3473D4;
$color-d-red:           #DC3141;
$color-d-royal:         #6D50A9;
$color-d-orange:        #B85807;
$color-d-purple:        #A950A1;
$color-d-teal:          #1c7F78;
$color-d-bronze:        #8D693C;
$color-d-gold:          #827432;

$color-n-green:         #889E0E;
$color-n-blue:          #4D91FA;
$color-n-red:           #FD4859;
$color-n-royal:         #9c82d2;
$color-n-orange:        #FB7401;
$color-n-purple:        #C062b7;
$color-n-teal:          #45BEB5;
$color-n-bronze:        #AA824F;
$color-n-gold:          #CCB239;

$color-black: 			#000000;
$color-dark-gray:       #1D1D21;
$color-white: 			#ffffff;

$color-day:             $color-white;
$color-night:           #323237;

$color-link: 			$color-red;
$color-default: 		$color-night;

$myriad:                "myriad-pro", sans-serif;

$font-family: 			$myriad;
$font-size:         	16px;
$line-height:       	27px;

$transition: 			all 300ms ease-out;





