#page {
	background: $color-white;
    position: relative;
    left: 0;
    top: 0;
	z-index:30;
	overflow: hidden;
	min-height: 100vh;
	width: 100%;
	background: $color-black;
	.error404 & {
		background: #fafafa url(assets/images/404-mobile.png) no-repeat 50% 0;
		background-size: 100% auto;
		// background-size: auto 100%;

		// @media screen and (max-width: 700px) { 
		// 	background-size: 100% auto;
		// }
		// @media screen and (max-width: 500px) { 
		// 	background-position: 50% rem(110px);
		// }
		@media screen and (min-width: 500px) { 
			background: #fafafa url(assets/images/404.png) no-repeat 50%;
			background-size: auto;
		}
	}
	.home & {
		min-height: 100vh;
        overflow: visible;
		
		@media screen and (max-width: 800px) {
			height: auto;
		}
	}
}